{%extends "index.html"%}
{%load static%}

<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Solicitor - Law Business Responsive HTML5 Template</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
</head>
<!-- <body class="header-style"> -->
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experkbkb
<![endif]-->

    <!-- Start Hero Area -->
    {% block body %}
    <div class="hero-area">
        {% for a in encabezado%}
        <div class="page-header have-submenu" style="background-image:url('/static/media/{{a.imagen_encabezado_acerca}}')">
            <div class="container">
                <a style="border-radius: 15px" href="{% url 'contactos' %}" class="btn btn-primary btn-dark btn-ghost pull-right">Reserve su Reunión</a>
                <h1>Nosotros</h1>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="utility-bar">
    	<div class="container">
        	<ul class="template-submenu">
            	<li class="active"><a href="{% url 'acerca' %}">Nosotros</a></li>
            	<li><a href="{% url 'equipo' %}">Nuestro Equipo</a></li>
            	<li><a href="{% url 'historia' %}">Historia</a></li>

            </ul>
        </div>
    </div>
    <!-- Main Content -->
    <div id="main-container">
    	<div class="content">
        	<div class="container">
                {% for a in about %}
            	<div class="row">
                	<div class="col-md-3 col-sm-12">
                    	<div class="lgray-bg padding-all25">
                        	<h4 >{{a.titulo_izq}}</h4>
                        	<p>{{a.desc_izq}}</p>
                            <a href="{% url 'equipo' %}" class="basic-link">Nuestro Equipo</a>
                        </div>
                    </div>
                    <div class="spacer-30 visible-sm"></div>
                	<div class="col-md-3 col-sm-4">
                    	<a href='/static/media/{{a.imagen_uno}}' class="magnific-image"><img src='/static/media/{{a.imagen_uno}}' alt="" class="img-thumbnail"></a>
                        <h4>{{a.titulo_uno}}</h4>
                        <p>{{a.desc_uno}}</p>
                    </div>
                	<div class="col-md-3 col-sm-4">
                    	<a href= '/static/media/{{a.imagen_dos}}' class="magnific-image"><img src='/static/media/{{a.imagen_dos}}' alt="" class="img-thumbnail"></a>
                        <h4>{{a.titulo_dos}}</h4>
                        <p>{{a.desc_dos}}</p>
                    </div>
                	<div class="col-md-3 col-sm-4">
                    	<a href='/static/media/{{a.imagen_tres}}' class="magnific-image"><img src='/static/media/{{a.imagen_tres}}' alt="" class="img-thumbnail"></a>
                        <h4>{{a.titulo_tres}}</h4>
                        <p>{{a.desc_tres}}</p>
                    </div>
                </div>
                {% endfor %}
          	</div>
           	<div class="spacer-60"></div>

            <div class="dgray-bg call-to-action">
                <div class="container">
                	<div class="call-to-action-text">
                        <div>Más de 15000 clientes de todo el Ecuador que solicitan nuestros servicios para asuntos legales</div>
                    </div>
                    <div class="call-to-action-btn">
                    	<a href="{% url 'contactos' %}" class="btn btn-primary btn-rounded btn-lg">Contáctanos</a>
                    </div>
                </div>
            </div>
            <div class="spacer-60"></div>
          </div>
  	</div>

    {% endblock  %}
    <!-- Site Footer -->

<script src="js/jquery-2.2.3.min.js"></script> <!-- Jquery Library Call -->
<script src="vendor/magnific/jquery.magnific-popup.min.js"></script> <!-- Maginific Popup Plugin -->
<script src="js/ui-plugins.js"></script> <!-- UI Plugins -->
<script src="js/helper-plugins.js"></script> <!-- Helper Plugins -->
<script src="vendor/owl-carousel/js/owl.carousel.min.js"></script> <!-- Owl Carousel -->
<script src="js/bootstrap.js"></script> <!-- UI -->
<script src="js/init.js"></script> <!-- All Scripts -->
<script src="vendor/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider -->
</body>
</html>
