{%extends "index.html"%}
{%load static%}

<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Solicitor - Law Business Responsive HTML5 Template</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<!-- CSS
</head>
<!-<body class="header-style1"> -->
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body">
    {% block body %}
    <!-- Start Hero Area -->
    <div class="hero-area">
        <div id="contact-map"></div>
    </div>
    <!-- Main Content -->
    <div id="main-container">
        <div class="content">
            <div class="container">
                <div class="shadow-block contact-info-block">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <!-- agregar metodos post -->
                            <!-- <form method="post" id="contactform" name="contactform" class="contact-form clearfix" action="/email/"> -->
                            <form action="/email/" method="post" accept-charset="utf-8" style="padding: 20px">
                                {% csrf_token %}
                                <h4>Contáctenos</h4>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label>Su Nombre (* obligatorio)</label>
                                        <input type="text" id="nombre" name="nombre" class="form-control input-lg">
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label>E-mail (* obligatorio)</label>
                                        <input type="email" id="email" name="email" class="form-control input-lg">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                         <label>Teléfono (* obligatorio)</label>
                                        <input type="text" id="telfono" name="telefono" class="form-control input-lg">
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label>Dirección</label>
                                        <input type="text" id="dirección" name="direccion" class="form-control input-lg">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Su Mensaje</label>
                                        <textarea class="form-control input-lg" id="mensaje" name="mensaje" rows="6"></textarea >
                                        <button  type="submit" id="subm" name="submit" class="btn btn-primary btn-lg">Enviar</button>
                                        <!-- <button type="{{ mail|safe|escape }}" id="submit" name="submit" class="btn btn-primary btn-lg">Enviar</button> -->
                                    </div>
                                </div>
                            </form>
                            <div class="clearfix"></div>
                            <div id="message"></div>
                        </div>
                        {% for c in contact %}
                        <div class="col-md-4 col-sm-4">
                            <div class="accent-bg parallax-light padding-all40">
                                <h4>Nuestras Oficinas</h4>
                                <span class="label label-info">Oficina Central</span>
                                <p>Loja<br>Quito 14-13 Bolívar y Sucre<br>deutusloja@gmail.com</p>
                                <br>
                                <span class="label label-info">Teléfonos</span>
                                   <p><i class="fa fa-phone"></i>{{c.telefono_uno}}</p>
                                   <p><i class="fa fa-phone"></i>{{c.telefono_dos}}</p>
                                   <p><i class="fa fa-phone"></i>{{c.telefono_tres}}</p>


                                <ul class="social-icons">
                                    <li class="facebook"><a href="https://www.facebook.com/deutusloja/"><i class="fa fa-facebook-f"></i></a></li>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        {% endfor  %}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="spacer-30 visible-xs"></div>

            </div>
        </div>
    </div>
</div>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> <!-- Google maps api -->}

   {% for a in contact %}

<script type="text/javascript">
    // When the window has finished loading create our google map below

    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        // Basic options for a simple Google Map
        // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
        var mapOptions = {
            // How zoomed in you want the map to start at (always required)
            zoom: 17,

            scrollwheel: false,
            // The latitude and longitude to center the map (always required)

            center: new google.maps.LatLng({{a.latitud}}, {{a.longitud}}
                ), // New York

            // How you would like to style the map.
            // This is where you would paste any style found on Snazzy Maps.
            // styles: [{"featureType":"road","stylers":[{"hue":"#5e00ff"},{"saturation":-50}]},{"featureType":"poi","stylers":[{"saturation":-78},{"hue":"#6600ff"},{"lightness":-47},{"visibility":"off"}]},{"featureType":"road.local","stylers":[{"lightness":22}]},{"featureType":"landscape","stylers":[{"hue":"#6600ff"},{"saturation":-11}]},{},{},{"featureType":"water","stylers":[{"saturation":10},{"hue":"#1900ff"},{"lightness":8}]},{"featureType":"road.local","stylers":[{"weight":7},{"lightness":0}]},{"featureType":"transit","stylers":[{"visibility":"simplified"},{"hue":"#5e00ff"},{"saturation":-16}]},{"featureType":"transit.line","stylers":[{"saturation":-72}]},{}]
        styles:{
          "featureType": "administrative.country",
          "elementType": "geometry",
          "stylers": [
              {
                  "visibility": "simplified"
              },
              {
                  "hue": "#ff0000"
              }
          ]
      }
        };

        // Get the HTML DOM element that will contain your map
        // We are using a div with id="map" seen below in the <body>
        var mapElement = document.getElementById('contact-map');

        // Create the Google Map using our element and options defined above
        var map = new google.maps.Map(mapElement, mapOptions);

        // Let's also add a marker while we're at it
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng({{a.latitud}}, {{a.longitud}}),
            map: map,
            title: 'Deutus'

        });

    }
</script>
            {% endfor %}
    {% endblock %}
</body>
</html>