{%extends "index.html"%}
{%load static%}

<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Solicitor - Law Business Responsive HTML5 Template</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">

</head>
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body">
      <!-- Start Hero Area -->
    {% block body %}
  <div class="hero-area">
      {% for a in encabezado %}
        <div class="page-header have-submenu" style="background-image:url('/static/media/{{a.imagen_encabezado_acerca}}')">
            <div class="container">
                <a style="border-radius: 15px" href="{% url 'contactos' %}" class="btn btn-primary btn-dark btn-ghost pull-right">Reserve su Reunión</a>
                <h1>Historia</h1>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="utility-bar">
        <div class="container">
            <ul class="template-submenu">
                <li><a href="{% url 'acerca' %}">Nosotros</a></li>
                <li><a href="{% url 'equipo' %}">Nuestro Equipo</a></li>
                <li class="active"><a href="{% url 'historia' %}">Historia</a></li>
            </ul>
        </div>
    </div>
    <!-- Main Content -->
    {% for a in history %}
    <div id="main-container">
        <div class="content padding-b0">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <blockquote>
                            <p style="text-align: justify;">{{a.descripcion_historia}}</p>
                        </blockquote>
                        <img src='/static/media/{{a.imagen_firma}}'alt="">
                    </div>
                    <div class="col-md-5">
                        <img src='/static/media/{{a.imagen_historia}}'  alt="">
                    </div>
                </div>
            </div>
            <div class="spacer-40"></div>

        </div>
    </div>
    {% endfor %}

  {% endblock %}
    <!-- Site Footer -->
</div>
<script src="js/jquery-2.2.3.min.js"></script> <!-- Jquery Library Call -->
<script src="vendor/magnific/jquery.magnific-popup.min.js"></script> <!-- Maginific Popup Plugin -->
<script src="js/ui-plugins.js"></script> <!-- UI Plugins -->
<script src="js/helper-plugins.js"></script> <!-- Helper Plugins -->
<script src="vendor/owl-carousel/js/owl.carousel.min.js"></script> <!-- Owl Carousel -->
<script src="js/bootstrap.js"></script> <!-- UI -->
<script src="js/init.js"></script> <!-- All Scripts -->
<script src="vendor/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider -->
</body>
</html>
