{%load static%}


<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
  {% block meta %} {% endblock %}

<!-- CSS
  ================================================== -->
<!-- <link href="https://fonts.googleapis.com/css?family=Unica+One|Tangerine|Francois+One|Crete+Round|Encode+Sans+Condensed|Work+Sans|Roboto+Condensed|Francois+One|Sanchez|Suez+One|Shrikhand|Bitter|Anton" rel="stylesheet"> -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/owl.theme.css' %}" rel="stylesheet" type="text/css">
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css"><!-- CUSTOM STYLESHEET FOR STYLING -->
<!-- Color Style -->
<link href="{% static 'css/color01.css' %}" rel="stylesheet" type="text/css">
<!-- login -->
<!-- <link  href="{% static 'css/style1.css' %}"> -->
<!-- SCRIPTS
  ================================================== -->
<script src="{% static 'js/modernizr.js' %}"></script><!-- Modernizr -->
</head>
<body class="home header-style1">
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body">
    <div class="header-wrapper">
        <!-- <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <p>In need of urgent assistance? Call +40 (0)20 0390 0999</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <ul class="pull-right social-icons">
                            <li class="facebook"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>

                        <form class="search-form">
                            <input type="text" placeholder="Search">
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Start Header -->
        {%block menu%}
    	<div class="site-header">
        	<div class="container">
                <div class="site-logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/logo.png' %}" alt="" class="default-logo">
                        <img src="{% static 'images/logo.png' %}" alt="" class="retina-logo" width="164" height="45">
                    </a>
                </div>
                <a href="#" id="info-toggle"><i class="fa fa-bars"></i></a>
                <ul id="info-content">
                    <li>
                        <i class="fa fa-map-signs"></i>
                        <div class="ititle">Dirección</div>
                        <strong style="font-size: 12px">Quito 14-13 Bolívar y <center>Sucre</center></strong>
                  </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <div class="ititle">LLámenos al teléfono:
                        <div class="galleryflex flexslider" data-direction="vertical" data-autoplay="yes" data-arrows="yes">
                            <ul class="slides">
                                <li class="slide"><strong>0986008311</strong></li>
                                <li class="slide"><strong>0968911693</strong></li>
                                <li class="slide"><strong>072574045</strong></li>
                          </ul>
                        </div>

                        </div>
                    </li>
                    <li>
                        <i class="fa fa-clock-o"></i>
                        <div class="ititle">Horarios de Atención</div>
                        <strong>Lun-Vier 09:00 a 18:00</strong>
                    </li>
                </ul>
                <a href="#" id="menu-toggle">Menu</a>
                <nav class="main-navigation pull-right">
                    <ul class="dd-menu sf-menu">
                        <li><a href="{% url 'index' %}">Inicio</a>
                         </li>
                        <li><a href="{% url 'acerca' %}">Acerca de</a>
                            <ul>
                                <li><a href="{% url 'acerca' %}">Nosotros</a></li>
                                <li><a href="{% url 'equipo' %}">Nuestro Equipo</a></li>
                                <li><a href="{% url 'historia' %}">Historia</a></li>

                            </ul>
                        </li>
                        <li><a href="{% url 'area' %}">Areas</a></li>


                        <li class="megamenu"><a href="{% url 'noticias' %}">Noticias</a>
                        </li>
                        <li><a href="{% url 'contactos' %}">Contactos</a></li>
                    </ul>
                    <!-- <div id="regbar"> -->
                       <!--  <div id="navthing">
                          <h2><a href="#" id="loginform">Login</a> | <a href="#">Register</a></h2>
                        <div class="login">
                          <div class=""></div>
                          <div class="">
                            <div class="">
                               <fieldset>
                                 <label name="email">Email</label>
                                 <input type="email" value="example@example.com" />
                                 <label name="password">Password</label>
                                 <input type="password" />
                                 <input type="submit" value="Login" />
                     
                               </fieldset>
                            </div>
                          </div>
                        </div> -->
                    <!-- </div> -->
                </nav>
          	</div>
        </div>
  </div>
    </div>
     {%endblock%}
    <!-- Start Hero Area -->
    {%block body%}
    <div class="hero-area">

    	<div class="flexslider heroflex hero-slider" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="fade" data-pause="yes">
            <ul class="slides">
                {% for a in header %}
                <li class="parallax" style="background-image: url('static/media/{{a.imagen}}');">
                	<div class="flex-caption text-align-center vertical-bottom">
                    	<div class="container">
                        	<div class="flex-caption-table">
                            	<div class="flex-caption-cell">
                                	<div class="flex-caption-text">
                                        <h2>{{a.titulo}}</h2>
                                        <a href="{{a.dir}}" class="btn btn-default btn-ghost btn-light btn-rounded" target="blank">{{a.titulo}}</a>
                                    </div>
                               	</div>
                          	</div>
                        </div>
                    </div>
                </li>
                {% endfor %}
          	</ul>
       	</div>
    </div>
    <div class="notice-bar">
    	<div class="container">
        	<!-- <div class="row">
            	<div class="col-md-8 col-sm-12 equalize">
                    <div class="galleryflex flexslider" data-autoplay="yes" data-arrows="no" data-speed="7000" data-style="slide" data-direction="vertical">
                        <ul class="slides">
                            <li class="slide">
                				<span class="icon-block"><i class="fa fa-newspaper-o"></i></span>
                                <p><a href="#">Solicitor voted 15th best company to work for in the US</a></p>
                            	<span class="meta-data">15 May, 2015</span>
                          	</li>
                            <li class="slide">
                				<span class="icon-block"><i class="fa fa-calendar-check-o"></i></span>
                                <p><a href="#">Financial Investigations and Enforcement Trends Seminar</a></p>
                                <span class="meta-data">26 July, 2016</span>
                          	</li>
                            <li class="slide">
                				<span class="icon-block"><i class="fa fa-twitter"></i></span>
                                <p>GreensKeeper - Gardening &amp; Landscaping Responsive HTML5 Template' on <a href="#">#EnvatoMarket</a> by @imithemes <a href="#">#themeforest</a> <a href="#">https://t.co/LbRl0i8Eaw</a></p>
                          	</li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-4 col-sm-4 hidden-sm hidden-xs equalize">
                	<a href="#" class="btn btn-primary btn-block equalize"><span>News and updates</span><em>See all</em></a>
                </div>
            </div> -->
        </div>
    </div>
    <!-- Main Content -->
    <div id="main-container">
    	<div class="content">
        	<div class="container">
            {% for b in seccionuno %}
                <div class="row">
                    <div class="col-md-6">
                    	<div class="dgray-bg block-style1" style="background-image:url('static/media/{{b.imagen_izq}}');">
                        	<h3 style="text-align: center" class="accent-color">{{b.titulo_izq}}</h3>
                            <h5 style="text-align: left;width: 200px; height: 142px; text-align: justify; " class="text-align-left"><em>
                                {{b.descripcion_izq}}</em></h5>
                        </div>
                    </div>
                    <div class="spacer-30 visible-sm visible-xs"></div>
                    <div class="col-md-6">
                        <h2 class="accent-color">{{b.titulo_der}}</h2>
                        <p class="text-align-right">{{b.descripcion_der}}</p>
                        <div class="spacer-20"></div>
                        <div class="featured-block">
                        	<div class="featured-block-content fbb">
                                <div class="featured-block-info">
                                    <span class="subtitle">{{b.titulo_der_sub}}</span>
                                    <p class="text-align-right">{{b.descripcion_der_sub}}</p>
                                </div>
                                <div class="featured-block-more">
                                    <a href= "{% url 'acerca' %}" class="basic-link">Leer más</a>
                                </div>
                            </div>
                            <div class="featured-block-image fbb" style="background-image: url('static/media/{{b.imagen_der}}');"></div>
                        </div>
                    </div>
                </div>
                <!-- <div class="spacer-30"></div> -->
                <hr class="fw">
                <!-- <div class="spacer-20"></div> -->
              	<div class="text-align-center">
                	<h3  class="accent-color">Lo que nos hace diferentes</h3>
                	<hr class="sm">
               	</div>
                {% endfor %}
               <div class="row">
                   {% for c in capacidad %}
                    <div class="col-md-3 col-sm-6">
                        <div class="icon-box ibox-center ibox-plain">
                                <img src='static/media/{{c.imagen}}' style="width: 200px; height: 142px" >
                                <h3 class="text-align-center">{{c.titulo}}</h3>
                                <p class="text-align-right">{{c.descripcion}}</p>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
            <div class="spacer-50"></div>
             {% for p in parallax %}
            <div class="parallax parallax1 parallax-light padding-tb125" style="background-image: url('static/media/{{p.imagen}}');">
            	<div class="container">
                    <h2  style="color:#ffffff" >{{p.titulo}}</h2>
                    <p style="width: 300px;height: 50px;color: #c6c5c3" class="text-align-left">{{p.descripcion}}</p>
                    <div class="spacer-75"></div>
                </div>
            </div>
            {% endfor %}
            <div class="container">
            	<div class="row">
                	<div class="col-md-4">
                    	<div class="shadow-block">
                            <h3 class="accent-color">Reserve su Reunión</h3>
                            <p> Por favor,  ingrese sus datos y uno de nuestros ejecutivos se pondrá en contacto con usted en breve</p>
                            <form action="/emaila/" method="post" accept-charset="utf-8" style="padding: 20px">
                           <!--  <form method="post" id="meetingform" name="meetingform" class="meeting-form clearfix" action="/email/"> -->
                                {% csrf_token %}
                                <input  name="nombre" id="nombre=" text" placeholder="Nombres" class="form-control input-lg">
                            	<input  name="email" id="email" type="email" placeholder="Email" class="form-control input-lg">
                            	<input  name="telefono" id="telefono" type="text" placeholder="Teléfono" class="form-control input-lg">
                                <select  name="tipo" id="tipo" class="selectpicker form-control input-lg">
                                	<option>Tipo de Caso</option>
                                	<option>Negocios</option>
                                	<option>Familiar</option>
                                	<option>Civil</option>
                                	<option>Otros</option>
                                </select>
                                <!-- <button name="msubmit" id="msubmit" type="submit" class="btn btn-primary btn-block btn-lg margin-20" ><i class="fa fa-send-o"></i> Enviar</button> -->
                                <button  type="submit" id="subm" name="submit" class="btn btn-primary btn-lg">Enviar</button>
                            </form>
                            <div class="clearfix"></div>
                            <div id="mmessage"></div>
                            <p class="small margin-0">Nota: Sus datos se mantienen estrictamente confidenciales según nuestra Política de privacidad.</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                    <div class="spacer-40"></div>
                    	<a href="{% url 'area' %}" class="btn btn-primary pull-right" >Ver más</a>
                    	<h3 class="accent-color">Nuestras Áreas</h3>
                    	<div class="spacer-20"></div>
                        <div class="row">
                        	<div class="col-md-12">
                                <div class="accordion" id="toggleArea">
                                    {% for a in area %}
                                    <div class="accordion-group panel">
                                        <div class="accordion-heading togglize">
                                        	<a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapse{{a.area_id}}">
                                            	{{a.nombre_area}}
                                                <i class="fa fa-plus-circle"></i><i class="fa fa-minus-circle"></i>
                                          	</a>
                                       	</div>
                                        <div id="collapse{{a.area_id}}" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                            	<!-- <div class="row"> -->
                                                    <ul style="text-align: justify;"> {{a.descripcion}}</ul>
                                                <!-- </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                               	</div>
                                <!-- End Toggle -->
                            </div>
                        </div>
                    </div>
                </div>
           	</div>
            <div class="spacer-60"></div>
            {% for a in parallaxdos %}
            <div class="padding-tb45 parallax parallax2 parallax-light" style="background-image:url('static/media/{{a.imagen}}')">
                <div class="overlay-accent"></div>
                <h3 class="text-align-center margin-0">{{a.titulo}}</h3>
            </div>
            {% endfor %}
            <div class="spacer-60"></div>

            <div class="container">
        <!--        	<a href="careers.html" class="btn btn-primary btn-ghost btn-dark pull-right">Join Our Team</a> -->
               	<!-- <h5 class="subhead">Reconocemos el Talento</h5> -->
            	<h2 class="text-align-center" style="color:#7D110F">Nuestro Equipo</h2>
                <div class="carousel-wrapper">
                    <div class="row">
                        <ul class="owl-carousel carousel-fw" id="team-slider" data-columns="4" data-autoplay="" data-pagination="no" data-arrows="yes" data-single-item="no" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
                            {% for e in equipo %}
                            <li class="item">
                                <div class="team-grid-item grid-item format-standard">
                                    <a><img src='static/media/{{e.imagen}}'  alt=""></a>
                                    <div class="grid-item-inner">
                                        <h4><a href="{% url 'perfil' %}">{{e.nombre}}</a></h4>
                                        <span class="text-align-right">{{e.especialidad}}</span>
                                        <a href="mailto:team@solicitor.com" class="basic-link pull-right">Email</a>
                                        <ul class="social-icons">
                                        	<li><a target="_blank" href={{e.facebok}}><i class="fa fa-facebook"></i></a></li>
                                        	<li><a target="_blank" href={{e.twitter}}><i class="fa fa-twitter"></i></a></li>
                                        	<!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
          	</div>
            <div class="spacer-60"></div>
            <!-- {% for a in parallaxdos %} -->
            <div class="padding-tb75 parallax parallax3 border-tb" style=" background-image: url('static/media/{{a.imagen_parallax_tres}}')";>
            	<div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                        	<div class="spacer-10"></div>
                            <div class="accent-bg">
                                <div  class="carousel-wrapper">
                                    <div class="row">
                                        <ul class="owl-carousel carousel-fw" id="testimonials-slider" data-columns="1" data-autoplay="5000" data-pagination="no" data-arrows="no" data-single-item="no" data-items-desktop="1" data-items-desktop-small="1" data-items-tablet="1" data-items-mobile="1">
                                            {% for c in cita %}
                                            <li class="item">
                                                <div class="testimonial-block">
                                                    <blockquote>
                                                        <p><br>{{c.titulo}}<br><br></p>
                                                    </blockquote>
                                                    <img src='static/media/{{c.imagen_perfil}}' alt="" height="60" width="60" class="testimonial-avatar">
                                                    <div class="testimonial-info">
                                                        <div class="testimonial-info-in">
                                                            <strong>{{c.nombre_autor}}</strong><span>{{c.ciudad}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              	</div>
        	</div>
            <!-- {% endfor %} -->
            <div class="clients">
            	<div class="container">
                	<div class="row">
                    	<div class="col-md-3 col-sm-3">
                        	<div class="spacer-55 hidden-sm"></div>
                        	<div class="spacer-40 visible-sm"></div>
                        	<h4 class="accent-color" class="margin-0">Nuestros Clientes</h4>
                        </div>
                        <div class="col-md-9 col-sm-9">
                            <div class="carousel-wrapper">
                                <div class="row">
                                    <ul class="owl-carousel carousel-fw" id="partners-slider" data-columns="4" data-autoplay="4000" data-pagination="no" data-arrows="no" data-single-item="no" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="3" data-items-mobile="2">
                                        {% for a in  cliente %}
                                            <li class="item">
                                            <a target="_blank" href="{{a.enlace}}">
                                            <img src='/static/media/{{a.imagen}}' alt="">
                                            </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  	</div>
     {%endblock%}
    <!-- Site Footer -->
    {%block footer%}
    <div class="site-footer">
    	<div class="container">
            <div class="footer-row3">
              <ul class="pull-right social-icons social-icons-colored social-icons-inverted">
                  <li class="facebook"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
              </ul>
            	<a href="{% url 'index' %}"><img src="{% static 'images/logo-light.png' %}" alt="" width="130" class="site-footer-logo"></a>
              <p style="color: #fff;font-size: 1.3em">© 2017 Developed by: <a href="http://solnustec.com/">Solnus</a></p>

            </div>
        </div>
    </div>
    {%endblock%}
  	<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
</div>
<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script> <!-- Jquery Library Call -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> <!-- Maginific Popup Plugin -->
<script src="{% static 'js/ui-plugins.js' %}"></script> <!-- UI Plugins -->
<script src="{% static 'js/helper-plugins.js' %}"></script> <!-- Helper Plugins -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script> <!-- Owl Carousel -->
<script src="{% static 'js/bootstrap.js' %}"></script> <!-- UI -->
<script src="{% static 'js/init.js' %}"></script> <!-- All Scripts -->
<script src="{% static 'js/jquery.flexslider.js' %}"></script> <!-- FlexSlider -->
<!-- LOGIN -->
<!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src={"% static 'js/index.js' %"}></script> -->
</body>
</html>
