{%load static%}

<!DOCTYPE HTML>
<html class="no-js">
<head>


<link href="https://fonts.googleapis.com/css?family=Unica+One|Tangerine|Francois+One|Crete+Round|Encode+Sans+Condensed|Work+Sans|Roboto+Condensed|Francois+One|Sanchez|Suez+One|Shrikhand|Bitter|Anton" rel="stylesheet">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/owl.theme.css' %}" rel="stylesheet" type="text/css">
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css"><!-- CUSTOM STYLESHEET FOR STYLING -->
<!-- Color Style -->
<link href="{% static 'css/color01.css' %}" rel="stylesheet" type="text/css">
<!-- SCRIPTS
  ================================================== -->
<script src="{% static 'js/modernizr.js' %}"></script><!-- Modernizr -->
{% block contenido2 %}{% endblock%}
</head>
<body class="home header-style1">
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body">
    <div class="header-wrapper">
    	<div class="site-header">
        	<div class="container">
                <div class="site-logo">
                    <a href="index.html">
                        <img src="{% static 'images/logo.png' %}" alt="" class="default-logo">
                        <img src="{% static 'images/logo@2x.png' %}" alt="" class="retina-logo" width="164" height="45">
                    </a>
                </div>
                <a href="#" id="info-toggle"><i class="fa fa-bars"></i></a>
                <ul id="info-content">
                	<li>
                    	<i class="fa fa-map-signs"></i>
                    	<div class="ititle">Llámenos al número </div>
                        <strong>1800-9090-8089</strong>
                    </li>
                	<li>
                    	<i class="fa fa-phone"></i>
                    	<div class="ititle">
                        <div class="galleryflex flexslider" data-direction="vertical" data-autoplay="yes" data-arrows="yes">
                        	<ul class="slides">
                              	<li class="slide">Suite 300 Houston</li>
                              	<li class="slide">Suite 300 Houston</li>
                          </ul>
                        </div>

                        </div>
                    </li>
                	<li>
                    	<i class="fa fa-clock-o"></i>
                    	<div class="ititle">Horarios de Atención</div>
                        <strong>Lun-Vier 09:00 a 18:00</strong>
                    </li>
                </ul>
                <a href="#" id="menu-toggle">Menu</a>
                <nav class="main-navigation pull-right">
                    <ul class="dd-menu sf-menu">
                        <li><a href="{% url 'index' %}">Inicio</a>
                         </li>
                        <li><a href="{% url 'acerca' %}">Acerca de</a>
                            <ul>
                                <li><a href="{% url 'acerca' %}">Nosotros</a></li>
                                <li><a href="{% url 'equipo' %}">Nuestro Equipo</a></li>
                                <li><a href="{% url 'historia' %}">Historia</a></li>

                            </ul>
                        </li>
                        <li><a href="{% url 'area' %}">Areas</a></li>


                        <li class="megamenu"><a href="{% url 'noticias' %}">Noticias</a>
                        </li>
                        <li><a href="{% url 'contactos' %}">Contactos</a></li>
                    </ul>
                </nav>
          	</div>
        </div>
    </div>




    {% block contenido %}{% endblock%}
      <div class="site-footer">
    	<div class="container">
            <div class="footer-row3">
              <ul class="pull-right social-icons social-icons-colored social-icons-inverted">
                  <li class="facebook"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
              </ul>
            	<a href="index.html"><img src="{% static 'images/logo-light.png' %}" alt="" width="130" class="site-footer-logo"></a>
              <p style="color:#fff">© 2017 Developed by: <a style="color:#fff" href="http://solnustec.com/">Solnus</a></p>
            </div>
        </div>
    </div>
  	<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
</div>
{% block contenido1 %}{% endblock%}

<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> <!-- Maginific Popup Plugin -->
<script src="{% static 'js/ui-plugins.js' %}"></script> <!-- UI Plugins -->
<script src="{% static 'js/helper-plugins.js' %}"></script> <!-- Helper Plugins -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script> <!-- Owl Carousel -->
<script src="{% static 'js/bootstrap.js' %}"></script> <!-- UI -->
<script src="{% static 'js/init.js' %}"></script> <!-- All Scripts -->
<script src="{% static 'js/jquery.flexslider.js' %}"></script> <!-- FlexSlider -->

</body>
</html>
