{%extends "index12.html"%}
{%load static%}

{% block contenido2 %}

<script src="//code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js" charset="utf-8"></script>
{% endblock%}


    {% block contenido %}
    <style media="screen">
    .wrapper{
      margin: 60px auto;
      text-align: center;
      }
      h1{
      margin-bottom: 1.25em;
      }
      #pagination-demo{
      display: inline-block;
      margin-bottom: 1.75em;
      }
      #pagination-demo li{
      display: inline-block;
      }

      .page-content{
      background: #eee;
      display: inline-block;
      padding: 10px;
      width: 100%;
      max-width: 660px;
      }
  </style>
    <!-- Start Hero Area -->
    <div class="hero-area">
        {% for a in encabezado %}
        <div class="page-header have-submenu"  style="background-image:url('/static/media/{{a.imagen_encabezado_noticia}}')">

            <div class="container">
              <a style="border-radius: 15px" href="{% url 'contactos' %}" class="btn btn-primary btn-dark btn-ghost pull-right">Reserve su Reunión</a>
                <h1>Noticias</h1>
          </div>
        </div>
        {% endfor %}
    </div>
    <!-- Main Content -->
    <div id="main-container">
    	<div class="content">
        	<div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8">

                        <div id="pagi-noticias" class="blog-list-item blog-item format-standard">

                        </div>

                        <ul class="pagination" id="pagination"></ul>

                    </div>
                    <div class="col-lg-3 col-md-4 sidebar right-sidebar">
                    	<div class="widget sidebar-widget fancy_block">
                            <p><i class="fa fa-2x align-left fa-comment-o"></i> LLaman gratis al <a href="#"><strong>1800-9090-8089</strong></a></p>
                            <hr>
                            <p class="short"><i class="fa fa-2x align-left fa-envelope-o"></i> Nuestro Email <a href="#"><strong>team@solicitors.com</strong></a></p>
                        </div>
                        <div class="widget sidebar-widget search-form-widget">
              				<div class="input-group input-group-lg">
                				<input class="form-control" placeholder="Search Posts..." type="text">
                				<span class="input-group-btn">
                					<button class="btn btn-default" type="button"><i class="fa fa-search fa-lg"></i></button>
                				</span>
                          	</div>
            			</div>
            			<!-- <div class="widget sidebar-widget widget_categories">
                			<h3 class="widgettitle">Post Categories</h3>
              				<ul>
                				<li><a href="#">Updates</a> (10)</li>
                				<li><a href="#">Announcements</a> (12)</li>
                				<li><a href="#">Finance</a> (34)</li>
                				<li><a href="#">Legal</a> (14)</li>
              				</ul>
            			</div>
            			<div class="widget sidebar-widget">
                			<h3 class="widgettitle">Post Tags</h3>
              				<div class="tagcloud">
                            	<a href="#">Civil</a>
                                <a href="#">Tech</a>
                                <a href="#">Finance</a>
                                <a href="#">Business</a>
                                <a href="#">News</a>
                                <a href="#">Announcements</a>
                                <a href="#">Updates</a>
                                <a href="#">Events</a>
                                <a href="#">Story</a>
                                <a href="#">Testimonial</a>
                                <a href="#">Urban</a>
                                <a href="#">Funds</a>
                                <a href="#">Partners</a>
                                <a href="#">Services</a>
                                <a href="#">Clients</a>
                                <a href="#">Social</a>
                         	</div>
            			</div> -->
                    </div>
               	</div>
            </div>
        </div>
  	</div>

    {% endblock %}

</div>

{% block contenido1 %}
<script type="text/javascript">
    $(function () {
        var inf=0;
        var sup=0;
        var tota='{{news1}}';
        // alert(tota);
        pages=Math.ceil(tota/4);
        // alert(pages)
        window.pagObj = $('#pagination').twbsPagination({
            totalPages: pages,
            visiblePages: 4,
            onPageClick: function (event, page) {
                console.info(page + ' (from options)');
                if (page==1) {
                    inf=1;
                    sup=4;
                } else {
                    sup=page*4;
                    inf=sup-3;
                }
                // alert(sup+' '+inf);
                $.ajax({
                    type: 'GET',
                    url: '/json/'+inf+'/'+sup+'/',
                    dataType: "json",
                    beforeSend: function(){
                        //imagen de carga
                        $("#pagi-noticias").html("<p align='center'><img src='ajax-loader.gif' /></p>");
                    },
                    error: function(){
                        alert("error petición ajax");
                    },
                    success:function(data){
                        $('#pagi-noticias').empty();

                        $.each(data, function(i, item) {
                            console.log(item);

                            $('#pagi-noticias').append( '<div class="blog-list-item blog-item format-standard">'+
                              '<div class="row">'+
                                '<div class="col-md-6 col-sm-6">'+
                                    '<a href="/static/media/'+item.imagen+'" class="magnific-image"><img src="/static/media/'+item.imagen+'" alt=""></a>'+
                                    '<div class="post-item-meta">'+
                                        '<i class="fa fa-clock-o"></i>'+item.fecha+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-md-6 col-sm-6">'+
                                    '<h4><a href="single-news.html">'+item.titulo+
                                    '</a></h4>'+
                                    '<p >'+item.descripcion+'</p>'+
                                    '<a style="border-radius:10px;" href="/single_news/'+item.id_noticia+'" class="btn btn-default btn-ghost btn-dark btn-sm">Ver más</a>'+
                                '</div>'+
                                '</div>'+
                            '</div>');
                        });
                    }
                });
            }
        }).on('page', function (event, page) {
            console.info(page + ' (from event listening)');
        });
    });
</script>
{% endblock%}


