{%extends "index.html"%}
{%load static%}


<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Solicitor - Law Business Responsive HTML5 Template</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
</head>
<!-- <body class="header-style1"> --> -->
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body">

    <nav class="main-navigation pull-right">
                    <ul class="dd-menu sf-menu">
                        <li><a href="index.html">Inicio</a>
                         </li>
                        <li><a href="about.html">Acerca de</a>
                            <ul>
                                <li><a href="about.html">Nosotros</a></li>
                                <li><a href="team.html">Nuestro Equipo</a></li>
                                <li><a href="history.html">Historia</a></li>

                            </ul>
                        </li>
                        <li><a href="services.html">Areas</a></li>
                        <li class="megamenu"><a href="javascrip:void(0)">Noticias</a>
                            <ul class="dropdown">
                                <li>
                                    <div class="megamenu-container container">
                                        <div class="row">
                                            <div class="col-md-3 megamenu-col">
                                                <span class="megamenu-sub-title">Noticias</span>
                                                <ul class="sub-menu">
                                                    <li><a href="news-list.html">Lista de Noticias</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contactos</a></li>
                    </ul>
                </nav>

    {% block body %}
    <div class="hero-area">
    {% for a in encabezado %}
        <div class="page-header" style="background-image:url('/static/media/{{a.imagen_encabezado_area}}');">
            <div class="container">
                <a style="border-radius: 15px" href="{% url 'contactos' %}" class="btn btn-primary btn-dark btn-ghost pull-right">Reserve su Reunión</a>
                <h1>Areas</h1>
            </div>
        </div>
     </div>
     {% endfor %}
    <!-- Main Content -->
    <div id="main-container">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 sidebar left-sidebar positioned">
                        <div class="widget sidebar-widget custom_menu">
                        </div>
                        <div class="widget sidebar-widget fancy_block">
                            <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="" class="margin-20">
                            <p class="margin-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempor lacinia diam quis imperdiet. Proin vitae iaculis nisl</p>
                        </div>
                        <div class="widget sidebar-widget fancy_block">
                            <p><i class="fa fa-2x align-left fa-comment-o"></i> Call us toll free <a href="#"><strong>1800-9090-8089</strong></a></p>
                            <hr>
                            <p class="short"><i class="fa fa-2x align-left fa-envelope-o"></i> Email our solicitors <a href="#"><strong>team@solicitors.com</strong></a></p>
                        </div>

                    </div>
                    <div class="col-lg-9 col-md-8">
                        <div class="spacer-30"></div>
                        <div class="accordion" id="service-blocks">
                            {% for a in services %}
                            <div class="accordion-group panel">
                                <div class="accordion-heading accordionize">
                                    <a class="accordion-toggle " data-toggle="collapse" data-parent="#service-blocks" href="#collapse{{a.imagen_id}}">
                                        {{a.nombre_area}}
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                                <div id="collapse{{a.imagen_id}}" class="accordion-body in collapse">
                                    <div class="accordion-inner">
                                        <!-- <i class="fa fa-angle-down"></i> -->
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <img src='/static/media/{{a.imagen_uno}}' alt="">
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <img src='/static/media/{{a.imagen_dos}}' alt="">
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <img src='/static/media/{{a.imagen_tres}}' alt="">
                                            </div>
                                        </div>
                                        <div class="spacer-20"></div>
                                        <div class="row">
                                            <ul>
                                                <ul class="carets col-md-6" style="text-align: justify" >
                                                    {{a.descripcion}}
                                                </ul>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                </div>
            </div>
  	     </div>
        </div>
    </div>
    {% endblock %}
</div>
<script src="js/jquery-2.2.3.min.js"></script> <!-- Jquery Library Call -->
<script src="vendor/magnific/jquery.magnific-popup.min.js"></script> <!-- Maginific Popup Plugin -->
<script src="js/ui-plugins.js"></script> <!-- UI Plugins -->
<script src="js/helper-plugins.js"></script> <!-- Helper Plugins -->
<script src="vendor/owl-carousel/js/owl.carousel.min.js"></script> <!-- Owl Carousel -->
<script src="js/bootstrap.js"></script> <!-- UI -->
<script src="js/init.js"></script> <!-- All Scripts -->
<script src="vendor/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider -->
</body>
</html>
