{%extends "index.html"%}
{%load static%}

<!DOCTYPE HTML>
<html class="no-js">
<head>
{% block meta %} 
    {% for s in single_news %}
        <title>{{s.titulo}} - Noticia</title>
        <meta name="description" content="{{s.descripcion}}" />
        <meta name="keywords" content="{{s.palabras_clave}}" />

        <link rel="canonical" href="https://solnustec.com/" />

        <!-- Facebook integration -->
        <meta property="og:title" content="{{s.titulo}}" />
        <meta property="og:image" content="{{s.imagen}}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://solnustec.com/3/publicidad-corporativa" />
        <meta property="og:site_name" content="Solnus - Megaleio" />
        <meta property="og:description" content="{{s.descripcion}}" />

        <!-- Twitter integration -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@solnuslj" />
        <meta name="twitter:title" content="{{s.titulo}}" />
        <meta name="twitter:description" content="{{s.descripcion}}"  />
        <meta name="twitter:image" content="{{s.imagen}}" />
        <meta name="twitter:url" content="https://solnustec.com/3/publicidad-corporativa" />
    {% endfor %}
{% endblock %}
    


<!-- Basic Page Needs
  ================================================== -->

<!-- Mobile Specific Metas
  ================================================== -->

</head>


<div class="body">
  {% block body %}
    <!-- Start Hero Area -->
    <div class="hero-area">
        {% for a in encabezado %}
    	<div class="page-header text-align-center" style="background-image:url('/static/media/{{a.imagen_encabezado_noticia}}')">
        	<div class="container">
                <a style="border-radius: 15px" href="{% url 'contactos' %}" class="btn btn-primary btn-dark btn-ghost pull-right">Reserve su Reunión</a>
            	<h1 style="float: left" >Noticias</h1>
               <!--  <ol class="breadcrumb">
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="news-list.html">Noticias</a></li>
                    <li></li>
                </ol> -->
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Main Content -->
    <div id="main-container">
    	<div class="content">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-9 col-md-8">
                        {% for a in single_news %}
                        <div class="blog-grid-item">
                            <!-- <img src='{%static a.imagen%}' alt=""> -->
                            <div class="grid-item-inner">
                                <div class="post-item-meta">
                                    <div class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 16</a></div>
                                    <i class="fa fa-clock-o"></i> {{a.fecha}}
                                </div>
                                <div class="alert alert-warning"><div class="meta-data"><a href="#">Anuncio</a></div></div>
                                <h2>{{a.titulo}}</h2>
                                <p><strong>{{a.descripcion|safe}}</strong></p>
                                <p>{{a.contenido|safe}}</p>

                                <div class="spacer-30"></div>
                                <div class="tagcloud">
                                    <a href="#">Civil</a>
                                    <a href="#">Tech</a>
                                    <a href="#">Finance</a>
                                    <a href="#">Business</a>
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                        <!-- NEXT PREVIOUS POSTS -->
                        <section class="next-prev-post">
                        	<a href="" class="pull-left equalize">
                            	<span class="meta-data">Previous Post</span>
                            	<img src="http://placehold.it/200x200&amp;text=IMAGE+PLACEHOLDER" alt="">
                                <h5>Government softens plan to criminalise unwitting offshore tax evasion</h5>
                            </a>
                        	<a href="" class="pull-right equalize">
                            	<span class="meta-data">Next Post</span>
                            	<img src="http://placehold.it/200x200&amp;text=IMAGE+PLACEHOLDER" alt="">
                                <h5>Sed gravida imperdiet leo, ac mollis urna venenatis sit amet</h5>
                            </a>
                        </section>
                        <!-- COMMENTS LIST -->
                        <!-- <section class="post-comments" id="comments">
              				<h3 class="widgettitle">Comments (5)</h3>
              				<ol class="comments">
                				<li>
                  					<div class="post-comment-block">
                    					<img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                        <div class="post-comment-content">
                                            <a href="#" class="btn btn-default btn-xs pull-right">Reply</a>
                                            <h5>Robin Schmidt <span>says</span></h5>
                                            <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                                            <p>There have been human health concerns associated with the consumption of dolphin meat in Japan after tests showed that dolphin meat contained high levels of mercury.</p>
                                      	</div>
                  					</div>
                				</li>
                				<li>
                                    <div class="post-comment-block">
                    					<img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                        <div class="post-comment-content">
                                            <a href="#" class="btn btn-default btn-xs pull-right">Reply</a>
                                            <h5>Emma Paquette <span>says</span></h5>
                                            <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                                            <p>Nicely said :)</p>
                                      	</div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="post-comment-block">
                    							<img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                                <div class="post-comment-content">
                                                    <a href="#" class="btn btn-default btn-xs pull-right">Reply</a>
                                                    <h5>Robin Schmidt <span>says</span></h5>
                                                    <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                                                    <p>Étienne de Flacourt (1607-60), French governor of Madagascar, described eating unborn dolphin calves cut out of the womb of a caught dolphin cow in Histoire de la grande isle Madagascar (1661). He considered the meat more tender and delicate than veal and believed it to be among the best meats he had eaten.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="post-comment-block">
                    							<img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                                <div class="post-comment-content">
                                                    <a href="#" class="btn btn-default btn-xs pull-right">Reply</a>
                                                    <h5>Robin Schmidt <span>says</span></h5>
                                                    <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                                                    <p>Real post, i love reading it all through</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="post-comment-block">
                    					<img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                        <div class="post-comment-content">
                                            <a href="#" class="btn btn-default btn-xs pull-right">Reply</a>
                                            <h5>Emma Paquette <span>says</span></h5>
                                            <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                                            <p>Dolphin meat is consumed in a small number of countries world-wide, which include Japan[125] and Peru (where it is referred to as chancho marino, or "sea pork").[126] While Japan may be the best-known and most controversial example, only a very small minority of the population has ever sampled it.</p>
                                      	</div>
                                    </div>
                                </li>
                            </ol>
                        </section> -->
                        <!-- POST COMMENT FORM -->
                        <!-- <section class="post-comment-form">
                            <h3 class="widgettitle">Post a comment</h3>
                            <form lpformnum="24">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-4">
                                            <input class="form-control input-lg" placeholder="Your name" type="text">
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <input class="form-control input-lg" placeholder="Your email" type="email">
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <input class="form-control input-lg" placeholder="Website (optional)" type="url">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                        	<textarea cols="8" rows="4" class="form-control input-lg" placeholder="Your comment"></textarea>
                                    	</div>
                                	</div>
                            	</div>
                            	<div class="row">
                                	<div class="form-group">
                                    	<div class="col-md-12">
                                        	<button type="submit" class="btn btn-primary btn-lg">Submit your comment</button>
                                    	</div>
                                	</div>
                            	</div>
                        	</form>
                    	</section> -->
                 	</div>

                    <div class="col-lg-3 col-md-4 sidebar right-sidebar">
                    	<div class="widget sidebar-widget fancy_block">
                            <p><i class="fa fa-2x align-left fa-comment-o"></i> Call us toll free <a href="#"><strong>1800-9090-8089</strong></a></p>
                            <hr>
                            <p class="short"><i class="fa fa-2x align-left fa-envelope-o"></i> Email our solicitors <a href="#"><strong>team@solicitors.com</strong></a></p>
                        </div>
                        <div class="widget sidebar-widget search-form-widget">
              				<div class="input-group input-group-lg">
                				<input class="form-control" placeholder="Search Posts..." type="text">
                				<span class="input-group-btn">
                					<button class="btn btn-default" type="button"><i class="fa fa-search fa-lg"></i></button>
                				</span>
                          	</div>
            			</div>
                    	<!-- <div class="sidebar-widget widget upcoming_events_widget">
                        	<h3 class="widgettitle">Upcoming Events</h3>
                            <ul class="events-list events-list-compact">
                                <li>
                                    <div class="event-date">
                                        <div class="event-month">Jun</div>
                                        <div class="event-day">11</div>
                                    </div>
                                    <a href="single-event.html"><strong>International Immigration Seminar</strong></a>
                                    <span class="meta-data">Saturday, 10:00 AM</span>
                                </li>
                                <li>
                                    <div class="event-date">
                                        <div class="event-month">Jun</div>
                                        <div class="event-day">18</div>
                                    </div>
                                    <a href="single-event.html"><strong>Cyber Crime Seminar</strong></a>
                                    <span class="meta-data">Saturday, 12:00 PM</span>
                                </li>
                                <li>
                                    <div class="event-date">
                                        <div class="event-month">Jul</div>
                                        <div class="event-day">01</div>
                                    </div>
                                    <a href="single-event.html"><strong>Financial Investigations and Enforcement Trends Seminar</strong></a>
                                    <span class="meta-data">Friday, 01:00 PM</span>
                                </li>
                                <li>
                                    <div class="event-date">
                                        <div class="event-month">Jul</div>
                                        <div class="event-day">01</div>
                                    </div>
                                    <a href="single-event.html"><strong>An Introduction to Angel Investing</strong></a>
                                    <span class="meta-data">Friday, 04:00 PM</span>
                                </li>
                            </ul>
                        </div>
            			<div class="widget sidebar-widget widget_categories">
                			<h3 class="widgettitle">Post Categories</h3>
              				<ul>
                				<li><a href="#">Updates</a> (10)</li>
                				<li><a href="#">Announcements</a> (12)</li>
                				<li><a href="#">Finance</a> (34)</li>
                				<li><a href="#">Legal</a> (14)</li>
              				</ul>
            			</div>
            			<div class="widget sidebar-widget">
                			<h3 class="widgettitle">Post Tags</h3>
              				<div class="tagcloud">
                            	<a href="#">Civil</a>
                                <a href="#">Tech</a>
                                <a href="#">Finance</a>
                                <a href="#">Business</a>
                                <a href="#">News</a>
                                <a href="#">Announcements</a>
                                <a href="#">Updates</a>
                                <a href="#">Events</a>
                                <a href="#">Story</a>
                                <a href="#">Testimonial</a>
                                <a href="#">Urban</a>
                                <a href="#">Funds</a>
                                <a href="#">Partners</a>
                                <a href="#">Services</a>
                                <a href="#">Clients</a>
                                <a href="#">Social</a>
                         	</div>
            			</div> -->
                    </div>
               	</div>
            </div>
        </div>
  	</div>
    {% endblock %}
</div>
<script src="js/jquery-2.2.3.min.js"></script> <!-- Jquery Library Call -->
<script src="vendor/magnific/jquery.magnific-popup.min.js"></script> <!-- Maginific Popup Plugin -->
<script src="js/ui-plugins.js"></script> <!-- UI Plugins -->
<script src="js/helper-plugins.js"></script> <!-- Helper Plugins -->
<script src="vendor/owl-carousel/js/owl.carousel.min.js"></script> <!-- Owl Carousel -->
<script src="js/bootstrap.js"></script> <!-- UI -->
<script src="js/init.js"></script> <!-- All Scripts -->
<script src="vendor/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider -->
</body>
</html>
