{% extends "index.html" %}
{% load static %}
<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Solicitor - Law Business Responsive HTML5 Template</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<!-- CSS
  ================================================== -->
<!-- SCRIPTS
  ================================================== -->
<script src="js/modernizr.js"></script><!-- Modernizr -->
</head>
<body class="header-style1">
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body">
    <!-- <div class="header-wrapper"> -->
    <!-- </div> -->

    {% block body %}
    <!-- Start Hero Area -->}

    <div class="hero-area">
        <!-- <div class="page-header have-submenu" style="background-image:url('{%static a.imagen_encabezado_acerca%}')">
            <div class="container">
                <a href="{% url 'contactos' %}" class="btn btn-primary btn-dark btn-ghost pull-right">Reserve su Reunión</a>
                <h1>Nuestro Equipo</h1>
            </div>
        </div> -->
        {% for a in encabezado %}
    	<div class="page-header have-submenu" style="background-image:url('/static/media/{{a.imagen_encabezado_acerca}}')">
        	<div class="container">
            	<a style="border-radius: 15px" href="{% url 'contactos' %}" class="btn btn-primary btn-dark btn-ghost pull-right">Reserve su reunion</a>
            	<h1>Antonia Bonciu</h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="team.html">Our People</a></li>
                    <li>Antonia Bonciu</li>
                </ol>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="utility-bar">
    	<div class="container">
        	<ul class="template-submenu">
            	<li><a href="{% url 'acerca' %}">Nosotros</a></li>
            	<li class="active"><a href="{% url 'equipo' %}">Nuestro Equipo</a></li>
            	<li><a href="{% url 'historia' %}">Historia</a></li>
            	<!-- <li><a href="testimonials.html">Client Testimonials</a></li> -->
            </ul>
        </div>
    </div>
    <!-- Main Content -->
    <div id="main-container">
    	<div class="content">
        	<div class="container">
            	<div class="row">
                    {% for a in staff_single %}
                	<div class="col-md-4">
                    	<img src='/static/media/{{a.imagen}}' alt="">
                        <div class="spacer-20"></div>
                        <a href="mailto:team@solicitor.com" class="basic-link pull-right">Email</a>
                        <ul class="social-icons social-icons-colored social-icons-inverted">
                            <li class="facebook"><a target="_blank" href="{{a.facebok}}"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a target="_blank" href="{{a.twitter}}"><i class="fa fa-twitter"></i></a></li>
                            <!-- <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
                        </ul>
                    </div>

                    <div class="col-md-8">
                    	<h3><i class="accent-color">{{a.nombre}}</h3>
                        <h3><i class="accent-color">{{a.titulo_descripcion}}-{{a.especialidad}}</h3>
                    	<p class="lead">{{a.descripcion}}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="spacer-50"></div>
            	<!-- <h5 class="subhead margin-20">Otros Miembros</h5>
            	<div class="row">
                    <ul class="isotope-grid">
                        {% for a in team %}
                    	<li class="grid-item col-md-3 col-sm-4">
                            <div class="team-grid-item format-standard">
                                <a href='/static/media/{{a.imagen}}' class="media-box"><img src='/static/media/{{a.imagen}}' alt=""></a>
                                <div class="grid-item-inner">
                                    <h4><a href="/listeam/{{a.identificador}}/">{{a.nombre}}</a></h4>
                                    <span class="meta-data">{{a.especialidad}}</span>
                                    <a href="mailto:team@solicitor.com" class="basic-link pull-right">Email</a>
                                    <ul class="social-icons">
                                        <li><a target="_blank" href="{{a.facebook}}"><i class="fa fa-facebook"></i></a></li>
                                        <li><a target="_blank" href="{{a.twitter}}"><i class="fa fa-twitter"></i></a></li>
                                         <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                     </ul>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>  -->
        </div>
  	</div>

    {% endblock %}
    <!-- Site Footer -->
    <div class="site-footer">
    	<div class="container">
        	<div class="row footer-widgets-area">
            	<div class="col-md-6 col-sm-4">
                	<div class="widget footer_widget widget_links">
                    	<h4 class="widgettitle">Client Services</h4>
                        <ul>
                        	<li>
                                <a href="single-service.html">Clinical Negligence &amp; Personal Injury</a>
                            </li>
                            <li>
                                <a href="single-service.html">Criminal Litigation</a>
                            </li>
                            <li>
                                <a href="single-service.html">Dispute Resolution</a>
                            </li>
                            <li>
                                <a href="single-service.html">Family, Relationships and Divorce</a>
                            </li>
                            <li>
                                <a href="single-service.html">Employment</a>
                            </li>
                            <li>
                                <a href="single-service.html">Public Law</a>
                            </li>
                     	</ul>
                        <ul>
                            <li>
                                <a href="single-service.html">Regulatory and Professional Discipline</a>
                            </li>
                            <li>
                                <a href="single-service.html">Corporate and Commercial</a>
                            </li>
                            <li>
                                <a href="single-service.html">Immigration</a>
                            </li>
                            <li>
                                <a href="single-service.html">Private Client</a>
                            </li>
                            <li>
                                <a href="single-service.html">Real Estate</a>
                            </li>
                            <li>
                                <a href="single-service.html">Reputation and Media</a>
                            </li>
                        </ul>
                    </div>
                </div>
            	<div class="col-md-3 col-sm-4">
                	<div class="widget footer_widget widget_recent_posts">
                    	<h4 class="widgettitle">Recent Posts</h4>
                        <ul>
                            <li>
                                <a href="single-post.html">Solicitor voted 15th best company to work for in the US</a>
                                <span class="meta-data grid-item-meta">Posted on 05 May, 2016</span>
                            </li>
                            <li>
                               	<a href="single-post.html">Government softens plan to criminalise unwitting offshore tax evasion</a>
                                <span class="meta-data grid-item-meta">Posted on 04 May, 2016</span>
                            </li>
                            <li>
                                <a href="single-post.html">Solicitor announces 6 new partners</a>
                                <span class="meta-data grid-item-meta">Posted on 28 April, 2016</span>
                            </li>
                        </ul>
                    </div>
                </div>
            	<div class="col-md-3 col-sm-4">
                	<div class="widget footer_widget">
                    	<h4 class="widgettitle">Twitter Updates</h4>
                        <div class="twitter-widget" data-tweets-count="2"></div>
                    </div>
                </div>
            </div>

            <div class="footer-row2">
                <ul class="pull-right social-icons social-icons-colored social-icons-inverted">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
            	<ul class="footer-menu">
                	<li><a href="index.html">Home</a></li>
                	<li><a href="privacy-policy.html">Privacy Policy</a></li>
                	<li><a href="website-terms.html">Website Terms</a></li>
                	<li><a href="payment-terms.html">Payment Terms</a></li>
                	<li><a href="cookies-policy.html">Cookies Policy</a></li>
                </ul>
            </div>
            <div class="footer-row3">
            	<a href="index.html"><img src="images/logo-light.png" alt="" width="130" class="site-footer-logo"></a>
                <p>&copy; 2016 Solicitor Group of Lawyers &amp; Attorneys. All Rights Reserved.</p>
            </div>
        </div>
    </div>
  	<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
</div>
</body>
</html>
