{%extends "about.html"%}
{%load static%}

<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Solicitor - Law Business Responsive HTML5 Template</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">

</head>
<!-- <body class="header-style1"> -->
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body">
<!-- Start Hero Area -->

{% block body %}
    <div class="hero-area">
        {% for a in encabezado %}
        <div class="page-header have-submenu" style="background-image:url('/static/media/{{a.imagen_encabezado_acerca}}');">
            <div class="container">
                <a style="border-radius: 15px" href="{% url 'contactos' %}" class="btn btn-primary btn-dark btn-ghost pull-right">Reserve su Reunión</a>
                <h1>Nuestro Equipo</h1>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="utility-bar">
        <div class="container">
            <ul class="template-submenu">
                <li><a href="{% url 'acerca' %}">Nosotros</a></li>
                <li class="active"><a href="{% url 'equipo' %}">Nuestro Equipo</a></li>
                <li><a href="{% url 'historia' %}">Historia</a></li>

            </ul>
        </div>
    </div>

    <div id="main-container">
        <div class="content">
            <div class="container">
                <h5 class="subhead margin-20">Somos un equipo de profesionales</h5>
                <div class="row">
                    {% for t in team %}
                    <ul >
                        <li class="grid-item col-md-3 col-sm-4" style="list-style:none;">
                            <div class="team-grid-item grid-item format-standard">
                                <div class="grid-item-inner">
                                    <a href='/static/media/{{t.imagen}}' class="magnific-image"><img src='/static/media/{{t.imagen}}' alt=""></a>
                                    <h4><a href="{% url 'perfil' %}">{{t.nombre}}</a></h4>
                                    <span class="meta-data">{{t.especialidad}}</span>
                                    <a href="mailto:team@solicitor.com" class="basic-link pull-right">Email</a>
                                    <ul class="social-icons">
                                        <li><a target="_blank" href={{t.facebok}}><i class="fa fa-facebook"></i></a></li>
                                        <li><a target="_blank" href={{t.twitter}}><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <div class="spacer-30"></div>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
  	</div>
    {% endblock %}
</div>
<script src="js/jquery-2.2.3.min.js"></script> <!-- Jquery Library Call -->
<script src="vendor/magnific/jquery.magnific-popup.min.js"></script> <!-- Maginific Popup Plugin -->
<script src="js/ui-plugins.js"></script> <!-- UI Plugins -->
<script src="js/helper-plugins.js"></script> <!-- Helper Plugins -->
<script src="vendor/owl-carousel/js/owl.carousel.min.js"></script> <!-- Owl Carousel -->
<script src="js/bootstrap.js"></script> <!-- UI -->
<script src="js/init.js"></script> <!-- All Scripts -->
<script src="vendor/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider -->
</body>
</html>
