a, .text-primary, .btn-primary .badge, .btn-link,a.list-group-item.active > .badge,.nav-pills > .active > a > .badge, p.drop-caps:first-child:first-letter, .accent-color, .nav-np .next:hover, .nav-np .prev:hover, .basic-link, .pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus, .icon-box-inline span, .pricing-column h3, .post .post-title a:hover, a, .post-actions .comment-count a:hover, .pricing-column .features a:hover, a:hover, .list-group-item a:hover, .icon-box.ibox-plain .ibox-icon i,.icon-box.ibox-plain .ibox-icon img, .icon-box.ibox-border .ibox-icon i,.icon-box.ibox-border .ibox-icon img, address strong, ul.checks > li > i, ul.angles > li > i, ul.carets > li > i, ul.chevrons > li > i, ul.icons > li > i, .widget li .meta-data a:hover, .sort-source li.active a, .dd-menu > li > a:hover, #info-content:before, .flex-caption-text a.ico:hover, .featured-block-info .subtitle, .grid-item h4 a:hover, a:hover, .social-icons a:hover, .icon-block, .header-style3 #info-content > li i, ol.breadcrumb a, .arrow-upwards, .pages-sub-menu li.active .fa-angle-right, #service-blocks .accordion-body a:hover, .blog-list-item h4 a:hover, .blog-list-item .meta-data, .blog-grid-item .meta-data, .blog-list-item .meta-data a, .widget a:hover, .single-post .blog-grid-item .meta-data a, blockquote:before, .next-prev-post a:hover h5, .btn-primary.btn-ghost{
	color:#7D110F;
}
p.drop-caps.secondary:first-child:first-letter, .accent-bg, .btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.label-primary,
.progress-bar-primary,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
.panel-primary > .panel-heading, .carousel-indicators .active, .flex-control-nav a:hover, .flex-control-nav a.flex-active, .media-box .media-box-wrapper, .icon-box.icon-box-style1:hover .ico, .ibox-effect.ibox-dark .ibox-icon i:hover,.ibox-effect.ibox-dark:hover .ibox-icon i,.ibox-border.ibox-effect.ibox-dark .ibox-icon i:after, .icon-box .ibox-icon i,.icon-box .ibox-icon img, .icon-box .ibox-icon i,.icon-box .ibox-icon img, .icon-box.ibox-dark.ibox-outline:hover .ibox-icon i, .pricing-column.highlight h3, #back-to-top:hover, .tagcloud a:hover, .accordion-heading .accordion-toggle.active, #info-toggle, #info-content, .notice-bar .btn:before, .featured-block-info .subtitle:before, .dd-menu > li ul, .parallax-light .subhead:before, .subhead.accent-color:before, .timeline > li > .timeline-badge, blockquote:after, .bootstrap-select.btn-group .dropdown-menu li.selected a, .event-grid-time, #menu-toggle:hover{
  background-color: #7D110F;
}
@media only screen and (max-width: 992px) {
	.header-style3 #info-content{
  		background-color: #7D110F;
	}
}
.btn-primary.btn-ghost:hover{
  background-color: #D6D5D4!important;
  border-color:#5A5654!important;

}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{
  background: #7D110F;
  opacity:.9
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
.panel-primary,
.panel-primary > .panel-heading, .btn-primary.btn-transparent, .icon-box.icon-box-style1 .ico, .icon-box-inline span, .icon-box.ibox-border .ibox-icon, .icon-box.ibox-outline .ibox-icon, .icon-box.ibox-dark.ibox-outline:hover .ibox-icon, .owl-theme .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span, .tagcloud a:hover, .notice-bar .flexslider, .btn-primary.btn-ghost{
	border-color:#ADABA9;
	color: #fff;

}
.panel-primary > .panel-heading + .panel-collapse .panel-body, .pages-sub-menu li.active a, .pages-sub-menu li:hover a{
	border-top-color:#7D110F;

}
.panel-primary > .panel-footer + .panel-collapse .panel-body, .template-submenu li.active a, .blog-list-item .meta-data, .blog-grid-item .meta-data, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border-bottom-color:#7D110F;

}
.widgettitle{
	border-left-color:#7D110F;

}
.ibox-border.ibox-effect.ibox-dark .ibox-icon i:hover,.ibox-border.ibox-effect.ibox-dark:hover .ibox-icon i {
	box-shadow:0 0 0 1px #7D110F;

}
.ibox-effect.ibox-dark .ibox-icon i:after {
	box-shadow:0 0 0 2px #7D110F;

}
.overlay-accent{
	background-color:#7D110F;
	
}
