/*------------------------------------------------------------------
[Master Stylesheet]
Project:	Solicitor
Version:	1.0
Last change:	05/02/16
Author:	imithemes
-------------------------------------------------------------------*/
/* Stylesheets and Google fonts import */
@import url("font-awesome.css");
@import url("line-icons.css");
@import url("animations.css");
@import url(http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Unica+One);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);


/*------------------------------------------------------------------
[Table of contents]

0. CSS Reset
1. Basic Styles
2. Typography
3. Margin Bottom Sets
4. Padding Sets
5. Spacers Sets
6. Multi purpose Elements
7. Site Structure & Appearance
8. Widgets Styling
9. Shortcodes Styling
10. Responsive Media Queries
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/
/* 0. CSS Reset */
/*-------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	outline:none;
}
iframe{
	border:0;
}

/* ==================================================
   1. Basic Styles
================================================== */

html, body {
	height: 100%;
}

html, hmtl a{
	width:100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a{
	color:#555;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
a:hover,
a:active,
a:focus{
	text-decoration:none;
	outline: 0;
	color:#5e5e5e;
}
a img {
	border: none;
}
a > img {
	vertical-align: middle;
}
.gray-bg{
	background:#CDCBCB;
}
.gray-text{
	color:#CDCBCB;
}
.lgray-bg{
	background:#f5f5f5;
	text-align: justify;

}
.dgray-bg, .notice-bar{
	background:#998C88;
}
.dgray-bg h1, .dgray-bg h2, .dgray-bg h3, .dgray-bg h4, .dgray-bg h5, .dgray-bg h6, .dgray-bg p{
	color:#fff;
}
img {
	max-width: 100%;
}
img, object, embed, audio, video {
	max-width: 100%;
}
img {
	height: auto;
}
strong, .strong {
  	font-weight: 700;
}
p {
	margin: 0 0 20px;
}
i, em, .italic{
	font-style:italic;
}
.uppercase{
	text-transform:uppercase;
}
.align-left{
	float:left;
	margin:5px 25px 20px 0px!important;
}
.align-right{
	float:right;
	margin:5px 0 20px 25px!important;
}
.text-align-left {
	text-align: left;
	text-align: justify;
}
.text-align-center {
	text-align: center;
	color:#5A5654 ;
}
.text-align-right {
	text-align: right;
	text-align: justify;
}
.color-text {
    color: #ffffff;
}
.through{
	text-decoration:line-through;
}
.border-radius{
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
   color: #999;
}
iframe{
	border:0;
}

/* ==================================================
   2. Typography
================================================== */

h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 20px 0;
	color:#222;
	font-weight:500;
	line-height:1.3em;
	font-family:"Playfair Display", serif;


}
h1{
	font-size:40px;
	color: #fff;
}
h2{
	font-size:36px;
}
h2 small{
	display:block;
	letter-spacing:.1em;
	text-transform:uppercase;
	font-size:45%
}
h3{
	font-size:30px;
}
h4{
	font-size:21px;
}
h5{
	font-size:15px;
}
h6{
	font-size:13px;
}
h1.huge{
	font-weight:700;
	font-size:60px;
}
h1.short, h2.short, h3.short, h4.short, h5.short, h6.short, p.short{
	margin-bottom:0;
}
h1.long, h2.long, h3.long, h4.long, h5.long, h6.long, p.long{
	margin-bottom:35px;
}
h1.spaced, h2.spaced, h3.spaced, h4.spaced, h5.spaced, h6.spaced {
    margin-top: 22px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	text-decoration:none;
}
h1 .label, h2 .label, h3 .label, h4 .label, h5 .label, h6 .label{
	font-size:11px;
	position:relative;
	top:-6px;
}
.huge{
	font-size:10em;
}
blockquote{
	padding:30px 0;
	padding-top:10px;
	position:relative;
}
blockquote:before{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:30px;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f10d";
	margin-bottom:12px;
}
blockquote.aligncenter{
	text-align:center;
}
blockquote p{
	margin-bottom:0;
	font-size:17px;
	line-height:1.7em;
	font-weight:400;
	font-family:"Playfair Display", serif;
	border-left:2px solid #eee;
	margin-left:30px;
	padding-left:20px;
}
blockquote cite{
	font-weight:700;
	margin-left:30px;
	margin-top:20px;
	display:block;
}
blockquote cite:before{
	content:"- ";
}
p.lead{
	font-size:21px;
	line-height:32px;
}
p.md{
	font-size:16px;
}
p.lg{
	font-size:30px;
}
.lighter p{
	color:#ccc;
}
p.small{
	font-size:10px;
	line-height:13px;
}
.big{
	font-size:200%;
	line-height:1.5em;
}
.thin{
	font-weight:300;
}
p.drop-caps:first-child:first-letter {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    padding: 4px;
    font-size: 75px;
    line-height: 60px;
}
p.drop-caps.secondary:first-child:first-letter {
    margin-right: 10px;
    padding: 6px 12px;
    /*border-radius: 4px;*/
    color: rgb(255, 255, 255);
}
hr{
	display:block;
	clear:both;
	width:100%;
	height:1px;
	border:0;
	background:#E8E8E8;
}
hr.sm{
	display:inline-block;
	background:#E8E8E8;
	margin:20px 0;
	height:1px;
	width:67px;
	border:0;
	position:relative;
}
hr.md{
	display:inline-block;
	margin:15px 0;
	width:100px;
	height:2px;
	border:0;
}
hr.fw{
	display:block;
	clear:both;
	margin:30px 0;
	width:100%;
	height:1px;
	border:0;
	background:#eee;
	color:#5A5654;
}
hr.fw.cont{
	margin:20px 0;
}
ul.checks, ul.angles, ul.carets, ul.chevrons, ul.icons{
	margin:0;
	list-style-type:none;
	margin-bottom:20px;
}
ul.checks > li, ul.angles > li, ul.carets > li, ul.chevrons > li, ul.icons > li{
	margin:5px 0;
}
ul.checks > li > i, ul.angles > li > i, ul.carets > li > i, ul.chevrons > li > i, ul.icons > li > i{
	margin-right:2px;
}
ul.inline{
	margin:10px 0;
}
ul.inline > li{
	display:inline-block;
	margin-right:10px;
}
ul.inline > li i.fa{
	margin-right:2px;
}
ul.nav-list-primary > li a{
	display:block;
	padding:8px;
	border-bottom:1px solid #eee;
	color:#666666;
	text-decoration:none;
}
ul.nav-list-primary > li a:hover{
	text-decoration:none;
}
ul{
	margin:10px 0 10px 20px;
	list-style-type:disc;
}
ol{
	margin:10px 0 10px 30px;
	list-style-type: decimal;
}
ul ul, ol ul{
	margin:10px 0 10px 20px;
}
ul ul{
	list-style-type:circle;
}
dl{
	margin:10px 0;
}
dl dt{
	font-weight:700;
}
address.ico i{
	display:inline-block;
	float: left;
	clear:both;
	padding-top: 3px;
}
address.ico p{
	margin:0;
	padding-bottom:10px;
}
address.ico span{
	display:inline-block;
	padding-left:20px;
}
.cursive{
	font-style:italic;
	text-transform:none;
	font-weight:400;
	letter-spacing:0;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight:400;
  color:#666;
}

/* ==================================================
   3. Margin Bottom Sets
================================================== */

.margin-0{
	margin-bottom:0 !important;
}
.margin-5{
	margin-bottom:5px !important;
}
.margin-10{
	margin-bottom:10px !important;
}
.margin-15{
	margin-bottom:15px !important;
}
.margin-20{
	margin-bottom:20px !important;
}
.margin-30{
	margin-bottom:30px !important;
}
.margin-40{
	margin-bottom:40px !important;
}
.margin-50{
	margin-bottom:50px !important;
}
.margin-60{
	margin-bottom:60px !important;
}
.margin-70{
	margin-bottom:70px !important;
}
.margin-80{
	margin-bottom:80px !important;
}
.push-top{
	margin-top:15px;
}

/* ==================================================
   4. Padding Sets
================================================== */
.padding-b0{
	padding-bottom:0!important;
}
.padding-tb0{
	padding-top:0!important;
	padding-bottom:0!important;
}
.padding-tb20{
	padding-top:20px;
	padding-bottom:20px;
}
.padding-tb30{
	padding-top:30px;
	padding-bottom:30px;
}
.padding-tb45{
	padding-top:45px;
	padding-bottom:45px;
}
.padding-tb50{
	padding-top:50px;
	padding-bottom:50px;
}
.padding-tb75{
	padding-top:75px;
	padding-bottom:75px;

}
.padding-tb100{
	padding-top:100px;
	padding-bottom:100px;
}
.padding-tb125{
	padding-top:125px;
	padding-bottom:125px;
}
.padding-tb250{
	padding-top:250px;
	padding-bottom:250px;
}
.padding-all25{
	padding:25px;
}
.padding-all40{
	padding:40px;
}
/* ==================================================
   5. Spacers Sets
================================================== */
.spacer-10{
	height:10px;
	clear:both;
	width:100%;
}
.spacer-20{
	height:20px;
	clear:both;
	width:100%;
}
.spacer-30{
	height:30px;
	clear:both;
	width:100%;
}
.spacer-40{
	height:40px;
	clear:both;
	width:100%;
}
.spacer-45{
	height:45px;
	clear:both;
	width:100%;
}
.spacer-50{
	height:50px;
	clear:both;
	width:100%;
}
.spacer-55{
	height:55px;
	clear:both;
	width:100%;
}
.spacer-60{
	height:60px;
	clear:both;
	width:100%;
}
.spacer-75{
	height:75px;
	clear:both;
	width:100%;
}
.spacer-95{
	height:95px;
	clear:both;
	width:100%;
}
.spacer-100{
	height:100px;
	clear:both;
	width:100%;
}
/* ==================================================
   6. Multi purpose Elements
================================================== */
.overlay-black{
	background:rgba(0,0,0,.7);
	position:absolute;
	width:100%;
	height:100%;
	z-index:0;
	top:0;
	left:0;
}
.overlay-white{
	background:rgba(255,255,255,.99);
}
.checkers-overlay{
	background:url(../images/checkers.png) repeat;
}
.pattern-overlay{
	background:url(../images/pattern.png) repeat;
}
.overlay-accent{
	position:absolute;
	width:100%;
	height:100%;
	z-index:0;
	top:0;
	left:0;
	opacity:.8;
}
.meta-data{
	font-size:12px;
	line-height: 16px;
	display:block;
	font-weight:700;
	letter-spacing:1px;
	opacity:.8;
	text-transform:uppercase;
}
.meta-data a{
	color:#999;
}
.meta-data a:hover{
	text-decoration:none;
}
.meta-data > span{
	display:inline-block;
	text-align: justify;

}
.meta-data i{
	margin-right:4px;
}
.meta-data > span:last-child{
	margin-right:0;
}
p.meta-data{
	font-size:16px;
	line-height:1.7em;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
.media-box{
	position:relative;
	z-index:1;
	display:inline-block;
	max-width:100%;
}
.format-gallery .media-box{
	display:block;
}
.magnific-image{
	position:relative;
	display:block;
	width:100%;
	height:100%;
	margin-bottom:20px;
}
.media-box .zoom, .magnific-image .zoom{
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
	font-size:1.5em;
	z-index:99;
	left:0;
	top:0;
	margin:0;
	background-color:rgba(0,0,0,.4);
	opacity:0;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	overflow:hidden;
}
.media-box .zoom .icon, .magnific-image .zoom .icon{
	width:44px;
	height:44px;
	line-height:42px;
	text-align:center;
	position:absolute;
	font-size:1em;
	left:50%;
	margin:0 0 -22px -22px;
	color:#fff;
	bottom:-50%;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.media-box:hover, .magnific-image:hover{
	opacity:.9
}
.magnific-image:hover .zoom .icon, .media-box:hover .zoom .icon{
	bottom:50%;
	-webkit-transition: bottom .3s .2s;
	-moz-transition: bottom .3s .2s;
	-ms-transition: bottom .3s .2s;
	-o-transition: bottom .3s .2s;
	transition: bottom .3s .2s;
}
.media-box:hover .zoom, .magnific-image:hover .zoom{
	opacity:1;
	-webkit-transition: opacity .3s .2s;
	-moz-transition: opacity .3s .2s;
	-ms-transition: opacity .3s .2s;
	-o-transition: opacity .3s .2s;
	transition: opacity .3s .2s;
}
.media-box .media-box-wrapper{
	padding:30px;
}
.social-icons{
	margin:0;
	list-style-type:none;
}
.social-icons li{
	display:inline-block;
	margin-right:10px;
}
.social-icons.pull-right li{
	margin-left:10px;
	margin-right:0;
}
.social-icons li:last-child{
	margin-right:0;
}
.social-icons li a{
	text-align:center;
	color:#fff;
	display:block;
}
.social-icons li.facebook a:hover{
	color:#3B5998;
}
.social-icons li.twitter a:hover{
	color:#00ACED;
}
.social-icons li.behance a:hover{
	color:#1769FF;
}
.social-icons li.delicious a:hover{
	color:#3274D1;
}
.social-icons li.deviantart a:hover{
	color:#4B5D50;
}
.social-icons li.digg a:hover{
	color:#14589E;
}
.social-icons li.dribbble a:hover{
	color:#EA4C89;
}
.social-icons li.foursquare a:hover{
	color:#2398C9;
}
.social-icons li.github a:hover{
	color:#4183C4;
}
.social-icons li.google a:hover{
	color:#245DC1;
}
.social-icons li.googleplus a:hover{
	color:#D14836;
}
.social-icons li.instagram a:hover{
	color:#3F729B;
}
.social-icons li.jsfiddle a:hover{
	color:#4679A4;
}
.social-icons li.linkedin a:hover{
	color:#007FB1;
}
.social-icons li.pinterest a:hover{
	color:#CB2027;
}
.social-icons li.reddit a:hover{
	color:#FF4500;
}
.social-icons li.skype a:hover{
	color:#00AFF0;
}
.social-icons li.tumblr a:hover{
	color:#2C4762;
}
.social-icons li.vimeo a:hover{
	color:#44BBFF;
}
.social-icons li.youtube a:hover{
	color:#CD332D;
}
.social-icons li.flickr a:hover{
	color:#0063DB;
}
.social-icons-colored li.facebook a{
	color:#3B5998;
}
.social-icons-colored li.twitter a{
	color:#00ACED;
}
.social-icons-colored li.behance a{
	color:#1769FF;
}
.social-icons-colored li.delicious a{
	color:#3274D1;
}
.social-icons-colored li.deviantart a{
	color:#4B5D50;
}
.social-icons-colored li.digg a{
	color:#14589E;
}
.social-icons-colored li.dribbble a{
	color:#EA4C89;
}
.social-icons-colored li.foursquare a{
	color:#2398C9;
}
.social-icons-colored li.github a{
	color:#4183C4;
}
.social-icons-colored li.google a{
	color:#245DC1;
}
.social-icons-colored li.googleplus a{
	color:#D14836;
}
.social-icons-colored li.instagram a{
	color:#3F729B;
}
.social-icons-colored li.jsfiddle a{
	color:#4679A4;
}
.social-icons-colored li.linkedin a{
	color:#007FB1;
}
.social-icons-colored li.pinterest a{
	color:#CB2027;
}
.social-icons-colored li.reddit a{
	color:#FF4500;
}
.social-icons-colored li.skype a{
	color:#00AFF0;
}
.social-icons-colored li.tumblr a:hover{
	color:#2C4762;
}
.social-icons-colored li.vimeo a{
	color:#44BBFF;
}
.social-icons-colored li.youtube a{
	color:#CD332D;
}
.social-icons-colored li.flickr a{
	color:#0063DB;
}

.social-icons-colored.social-icons-inverted li.facebook a{
	background-color:#3B5998;
}
.social-icons-colored.social-icons-inverted li.twitter a{
	background-color:#00ACED;
}
.social-icons-colored.social-icons-inverted li.behance a{
	background-color:#1769FF;
}
.social-icons-colored.social-icons-inverted li.delicious a{
	background-color:#3274D1;
}
.social-icons-colored.social-icons-inverted li.deviantart a{
	background-color:#4B5D50;
}
.social-icons-colored.social-icons-inverted li.digg a{
	background-color:#14589E;
}
.social-icons-colored.social-icons-inverted li.dribbble a{
	background-color:#EA4C89;
}
.social-icons-colored.social-icons-inverted li.foursquare a{
	background-color:#2398C9;
}
.social-icons-colored.social-icons-inverted li.github a{
	background-color:#4183C4;
}
.social-icons-colored.social-icons-inverted li.google a{
	background-color:#245DC1;
}
.social-icons-colored.social-icons-inverted li.googleplus a{
	background-color:#D14836;
}
.social-icons-colored.social-icons-inverted li.instagram a{
	background-color:#3F729B;
}
.social-icons-colored.social-icons-inverted li.jsfiddle a{
	background-color:#4679A4;
}
.social-icons-colored.social-icons-inverted li.linkedin a{
	background-color:#007FB1;
}
.social-icons-colored.social-icons-inverted li.pinterest a{
	background-color:#CB2027;
}
.social-icons-colored.social-icons-inverted li.reddit a{
	background-color:#FF4500;
}
.social-icons-colored.social-icons-inverted li.skype a{
	background-color:#00AFF0;
}
.social-icons-colored.social-icons-inverted li.tumblr a:hover{
	background-color:#2C4762;
}
.social-icons-colored.social-icons-inverted li.vimeo a{
	background-color:#44BBFF;
}
.social-icons-colored.social-icons-inverted li.youtube a{
	background-color:#CD332D;
}
.social-icons-colored.social-icons-inverted li.flickr a{
	background-color:#0063DB;
}
.social-icons-colored.social-icons-inverted li a{
	width:30px;
	height:30px;
	text-align:center;
	color:#fff;
	line-height:30px;
}
.social-icons-colored.social-icons-inverted li a:hover{
	color:#fff;
}
.social-icons-rounded a{
	border-radius:100%;
}
.social-icons.social-icons-colored li a:hover{
	opacity:.8;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
.flexslider .slides {
	zoom: 1;
	margin:0;
	list-style-type:none;
}
.flexslider{
	position:relative;
	z-index:1;
	width:100%;
	overflow:hidden;
	background-image:url(../images/loader.gif) no-repeat center center;
}
#info-content .flexslider{
	overflow: visible;
}
.flex-viewport{
	width:100%;
}
.flexslider > ul.slides{
	height:100%;
}
.flexslider ul.slides li{
	width:100%;
	overflow:hidden;
	position:relative;
	background-attachment:scroll!important
}
.flexslider ul.slides li > a{
	display:block;
}
.flexslider .flex-control-nav{
	width:100%;
	text-align:center;
	position:absolute;
	z-index:111;
	left:0;
	bottom:10px;
	padding:0;
	margin:0;
}
.heroflex.flexslider .flex-control-nav{
	bottom:-40px;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.heroflex.flexslider:hover .flex-control-nav{
	bottom:10px;
	-webkit-transition: bottom .3s .2s;
	-moz-transition: bottom .3s .2s;
	-ms-transition: bottom .3s .2s;
	-o-transition: bottom .3s .2s;
	transition: bottom .3s .2s;
}
.flexslider .flex-control-nav li{
	display:inline;
}
.flexslider .flex-control-nav a{
	width:12px;
	height:12px;
	border-radius:100%;
	background-color:#ffffff;
	display:inline-block;
	margin:0 6px;
	text-indent:-9999px;
	text-decoration:none;
}
.flexslider .flex-nav-prev a, .flexslider .flex-nav-next a{
	background:#3F0908;
	color:#F9F9F9;
	margin-bottom:10px;
	position:absolute;
	top:50%;
	right:10px;
	font-size:14px;
	line-height:25px;
	width:25px;
	height:25px;
  	font-family: FontAwesome;
  	font-style: normal;
  	font-weight: normal;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-decoration:none;
	display:none;
	text-align:center;
	margin-top:-13px;
	z-index:9;
}
.flexslider .flex-nav-prev a:hover, .flexslider .flex-nav-next a:hover{
	background:rgba(34,34,34,1);
}
.flexslider .flex-nav-prev a{
	left:10px;
	right:auto;
}
.flexslider .flex-nav-prev a:before{
  content: "\f104";
}
.flexslider .flex-nav-next a:before{
  content: "\f105";
}
#info-content .flexslider .flex-nav-prev a, #info-content .flexslider .flex-nav-next a{
	background:none;
	right:-10px;
	left:auto;
	opacity:0;
	display:block;
}
#info-content .flexslider .flex-nav-prev a{
	margin-top:-3px;
}
#info-content .flexslider .flex-nav-prev a:before{
  content: "\f0d7";
}
#info-content .flexslider .flex-nav-next a:before{
  content: "\f0d8";
}
.heroflex.flexslider .flex-nav-prev a, .heroflex.flexslider .flex-nav-next a{
	width:70px;
	height:70px;
	right:-70px;
	margin-top:-35px;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	font-size:30px;
	line-height:70px;
	display:block;
	text-align:center;
	z-index:2
}
.flexslider:hover .flex-nav-prev a, .flexslider:hover .flex-nav-next a{
	display:block;
}
.heroflex.flexslider ul.slides li > a{
	display:block;
	height:100%;
	width:100%;
}
.heroflex.flexslider .flex-nav-prev a{
	left:-70px;
}
.heroflex.flexslider:hover .flex-nav-prev a{
	left:10px;
	-webkit-transition: left .3s .2s;
	-moz-transition: left .3s .2s;
	-ms-transition: left .3s .2s;
	-o-transition: left .3s .2s;
	transition: left .3s .2s;
}
.heroflex.flexslider:hover .flex-nav-next a{
	right:10px;
	-webkit-transition: right .3s .2s;
	-moz-transition: right .3s .2s;
	-ms-transition: right .3s .2s;
	-o-transition: right .3s .2s;
	transition: right .3s .2s;
}
.flex-direction-nav{
	margin:0;
	list-style-type:none;

}
.basic-link{
	display:inline-block;
	font-size:15px;
	line-height:32px;
	font-style:italic;
	font-family: 'Playfair Display', cursive;

}
.basic-link .icon-arrow-right{
	position:relative;
	bottom:-3px;
	margin-left:2px;
}

.basic-link:hover{
	color:#555;
	text-decoration:none;
}
.basic-link.inverted{
	text-transform:uppercase;
	margin-top:10px;
}
.basic-link.backward .fa-angle-right{
	display:none;
}
.grid-filter{
	margin:0 0 50px 0;
}
.grid-filter-lable{
	display:inline-block;
	margin-right:20px;
	text-transform:uppercase
}
.sort-source{
	list-style-type:none;
	display:inline-block;
	margin:0;
}
.sort-source li{
	display:inline-block;
}
.sort-source li:after{
	content:"/";
	color:#ccc;
}
.sort-source.nav-pills li:after{
	content:"";
}
.sort-source li:last-child:after{
	content:"";
}
.sort-source li a{
	color:#999;
	margin:0 10px;
}
.sort-source.nav-pills li a{
	margin:0;
}
.sort-source.nav-pills li.active a{
	color:#fff;
}
.sort-source li:first-child a{
	margin-left:0;
}
.sort-source li a:hover{
	color:#222;
}
.sort-destination{
	margin:0;
	list-style-type:none;
}
.selectpicker{
	font-weight:400;
	padding-top: 5px;
	padding-bottom: 7px;
}
.selectpicker.btn-default{
	background:#fff;
	padding-left:14px;
	text-transform:none;
	font-size:14px;
	color:#999;
	line-height:1.2em;
	padding-top:8px;
	border: 1px solid #ccc;
	letter-spacing:0;
	text-shadow: none;
	height:35px;
}
.input-lg .selectpicker.btn-default{
	height:46px;
}
.selectpicker.btn-default:focus, .selectpicker.btn-default:active{
	box-shadow:none;
	background:#fff;
}
.btn-group.bootstrap-select.open .dropdown-toggle{
	background:none;
	box-shadow:none;
}
.selectpicker.btn-default .caret{
	margin-top:0!important;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a{
	color:#fff;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a:hover{
	color:#666;
}
.input-lg .selectpicker{
	padding-top:12px;
	padding-bottom:11px;
}
.bootstrap-select.form-control{
	margin-bottom:20px!important;
}
.dgray-bg .icon-box-inline p{
	color:rgba(255,255,255,.4);
}
.carousel-wrapper{
	overflow:hidden;
	background:url(../images/loader.gif) no-repeat center center;
	min-height:150px;
}
.owl-carousel .owl-wrapper-outer{
	padding-top:30px;
}
.widget .owl-carousel .owl-wrapper-outer{
	padding-top:10px;
}
.btn-rounded{
	border-radius:30px;
}
.light-title{
	color:#fff!important;
}
.parallax-icon-link{
	opacity:.2;
	color:#fff;
}
.parallax-icon-link:hover{
	opacity:.9
}
.position-relative{
	position:relative;
}
#message{
	margin-top:20px;
}
.block-style1{
	padding:40px;
	background-position:right bottom;
	background-repeat:no-repeat;
	height:500px
}
.block-style1 em{
	opacity:.7;
}


/* ==================================================
   7. Site Structure & Appearance
================================================== */
body{
	background-color:#ffffff;
	color:#5A5654;
	font-size:15px;
	font-weight:400;
	font-family:"Roboto", sans-serif;
	line-height:1.55em;
	background-attachment:fixed;
	overflow-x:hidden;
	/*opacity: 20;*/
}
body.boxed{
	background-color:#333;
}
body.boxed .body{
	position:relative;
	margin:0 auto;
	overflow:hidden;
	width:100%;
	max-width:1200px;
	height:auto;
	background-color:#ffffff;
	-webkit-box-shadow:0 0 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 0 2px rgba(0,0,0,.2);
	box-shadow:0 0 2px rgba(0,0,0,.2);
}
@media (min-width: 1200px) {
	body.boxed .site-header{
		width:1200px;
		left:50%;
		margin-left:-600px;
	}
}
.topbar{
	background:#998C88;
	padding:5px 0;
	overflow:hidden;
}
.topbar p{
	margin-bottom:0;
	font-size:12px;
	color:#ccc
}
.topbar .social-icons{
	margin-left:15px;
}
.topbar .social-icons li a{
	font-size:16px;
	margin-left:15px;
	color:#ccc;
}
.topbar .social-icons li a:hover{
	color:#fff;
}
.topbar .search-form{
	float:right;
	border-right:1px solid rgba(255,255,255,.2);
}
.header-style2 .topbar .search-form, .header-style2 .topbar p, .header-style2 .topbar .social-icons{
	padding:5px 0;
}
.topbar .search-form input{
	background:none;
	border:0;
	color:#ccc
}
.header-style2 ::-webkit-input-placeholder,
.header-style2 :-moz-placeholder,
.header-style2 ::-moz-placeholder,
.header-style2 :-ms-input-placeholder {
   color: #ccc;
}
.topbar .search-form:before{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:16px;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f002";
	color:#ccc;
}
.header-style2 .topbar{
	background:none;
	padding:0;
	border-bottom:1px solid rgba(255,255,255,.1);
}
.header-wrapper{
	position:relative;
	background: rgb(125, 17, 15);
}
.header-style2 .header-wrapper{
	position:absolute;
	z-index:99;
	width:100%;
	border-bottom:1px solid rgba(255,255,255,.1);
}
.site-header{
	background:#fff;
	padding:17px 0;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
	position:relative;
	z-index:9;
}
.header-style2 .site-header{
	background:none;
	box-shadow:none;
}
.header-style3 .site-header{
	box-shadow:0px 1px 0px 0px rgba(0,0,0,0.1);
}
.is-sticky .site-header{
	z-index:999;
	width:100%;
}
.header-style2 .is-sticky .site-header{
	background:#000;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
	opacity:.9
}
.site-header:before, .site-header:after{
	content:"";
	display:table;
}
.site-header:after{
	clear:both;
}
.site-logo{
	float:left;
}
.default-logo{
	display:inline-block;
}
.retina-logo{
	display:none;
}
.site-header .container{
	position:relative;
}
#info-toggle{
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	color:#fff;
	display:inline-block;
	float:right;
	margin-left:35px;
	/*border-radius:5px;*/
}
#info-content{
	display:none;
	width:250px;
	position:absolute;
	top:62px;
	right:15px;
	z-index:9;
	margin:0;
	list-style-type:none;
}
.header-style3 #info-content{
	display:block;
	position:static;
	background:none;
	width:auto;
	float:right;
}
#info-content:before{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:30px;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f0d8";
	position:absolute;
	top:-20px;
	z-index:9;
	right:12px;
}
.header-style3 #info-content:before{
	display:none;
}
#info-content > li{
	padding:15px 25px;
	border-bottom:1px solid rgba(0,0,0,.1);
	color:#fff;
	font-size:14px;
}
#info-content > li .ititle{
	opacity:.6;
	display:block;
}
#info-content > li strong{
	opacity:.8;
	display:block;
}
#info-content > li i{
	float:left;
	font-size:30px;
	margin:12px 20px 0 0;
	width:25px;
}
#info-content > li:last-child{
	border-bottom:0;
}
.header-style3 #info-content > li{
	color:inherit;
	border-bottom:0;
	padding:0;
	width:auto;
	white-space: nowrap;
	margin-left: 40px;
	display:inline-block;
	float:none;
}
.header-style3 #info-content > li i{
	width:50px;
	text-align:center;
	margin-right:0;
}
.header-style3 #info-content > li .ititle{
	opacity:1;
	display:inline-block;
}
.header-style3 #info-content > li strong{
	display:inline-block;
}
.header-style3 .main-navigation{
	padding:10px 0;
	position:relative;
	background-color:#fff;
}
.header-style3 .is-sticky .main-navigation{
	width:100%;
	z-index:999;
}
.header-style3 .main-navigation > .container{
	position:relative;
}
.main-navigation .social-icons{
	padding:10px 0 0;
}
.main-navigation .social-icons a{
	font-size:24px;
	color:#999;
	margin-left:10px;
}
.dd-menu{
	margin:0;
	list-style-type:none;
	display:block;
	font-family:"Playfair Display", serif;
}
#menu-toggle{
	display:none;
	background:#555;
	color:#ffffff;
	text-align:center;
	padding:0 10px;
	height:40px;
	line-height:40px;
	text-transform:uppercase;
	font-size:13px;
	font-weight:700;
	letter-spacing:1px;
}
.dd-menu > li{
	font-size:16px;
	font-weight:400;
	position:relative;
	display:inline-block;
	float:left;
	margin-left:35px;
}
.header-style3 .dd-menu > li{
	margin-left:0;
	margin-right:35px;
}
.dd-menu > li > a{
	display:block;
	color:#555;
	line-height:42px;
}
.header-style2 .dd-menu > li > a{
	color:#fff;
}
.header-style2 .dd-menu > li > a:hover{
	color:#fff;
	opacity:.8;
}
.dd-menu > li > a > i{
	font-size:12px;
}
.dd-menu > li ul{
	margin:0;
	list-style-type:none;
	position:absolute;
	top:62px;
	left:-17px;
	z-index:999;
	display:none;
	min-width:100%;
	height:auto;
	background:#fff;
	float:none;
}
.header-style2 .dd-menu > li ul{
	top:60px;
	background:#fff;
}
.header-style3 .dd-menu > li ul{
	top:52px;
}
.dd-menu > li:hover ul{
	display:block;
}
.dd-menu > li > ul li{
	line-height: normal;
	font-size:14px;
	position:relative;
	font-weight:400;
	text-transform:none;
}
.dd-menu > li.megamenu{
	position:static;
}
.dd-menu > li.megamenu > ul > li a:first-child i.fa-caret-right{
	display:none;
}
.dd-menu > li > ul > li > a, .dd-menu > li > ul > li > ul > li > a, .dd-menu > li > ul > li > ul > ul > li > a{
	display:block;
	padding:12px 20px;
	border-bottom:1px solid rgba(0,0,0,.08);
	white-space:nowrap;
	text-decoration:none;
	color:rgba(255,255,255,.8);
}
.dd-menu > li > ul > li > a:hover, .dd-menu > li > ul > li > ul > li > a:hover{
	text-decoration:none;
	background-color:rgba(0,0,0,.08);
}
.dd-menu > li > ul > li:last-child > a{
	border-bottom:0;
}
.dd-menu > li > ul li ul{
	margin:0;
	list-style-type:none;
	left:101%!important;
	top:0!important;
	min-width:150px;
	position:absolute;
	border:0;
}
.dd-menu > li.megamenu{
	position:inherit!important;
	left:0;
}
.dd-menu > li.megamenu > ul{
	margin:0;
	list-style-type:none;
	left:0!important;
	min-width:inherit;
	width:100%;
	top:62px;
}
.header-style2 .dd-menu > li.megamenu > ul{
	top:60px;
}
.header-style3 .dd-menu > li.megamenu > ul{
	top:52px;
}
.dd-menu .megamenu-container{
	padding:25px;
	width:100%;
}
.dd-menu .megamenu-container ul{
	margin:0;
	list-style-type:none;
	display:block!important;
	left:0!important;
	box-shadow:none;
	opacity:1!important;
	background:transparent;
	position:static!important;
	text-align:left!important;
	margin-left:0;
	border-top:0;
}
.dd-menu .megamenu-container .megamenu-sub-title{
	display:block;
	margin-bottom:35px;
	font-size:18px;
	font-weight:700;
	letter-spacing:1px;
	color:#fff;
	text-align:left;
	font-family:"Roboto",sans-serif;
	text-transform:uppercase;
}
.dd-menu .megamenu-container ul li{
	font-size:15px;
	border-left:0;
}
.dd-menu .megamenu-container ul li a{
	margin:0;
	border-bottom:0;
	color:rgba(255,255,255,.8);
}
.dd-menu .megamenu-container ul.sub-menu li a{
	display:block;
	border-bottom:1px solid rgba(0,0,0,.1);
	text-decoration:none;
	color:rgba(255,255,255,.8);
	padding: 10px 0;
}
.dd-menu .megamenu-container ul.sub-menu li:last-child a{
	border-bottom:0;
}
.dd-menu .megamenu-container ul li a i{
	display:none;
}
.dd-menu .megamenu-container ul.sub-menu li:first-child a{
	padding-top:0;
}
.dd-menu .megamenu-container ul.sub-menu li a:hover{
	text-decoration:none;
	color:#fff;
}
.header-style2 .dd-menu > li > ul > li > a, .header-style2 .dd-menu > li > ul > li > ul > li > a, .header-style2 .dd-menu > li > ul > li > ul > ul > li > a, .header-style2 .dd-menu .megamenu-container ul li a, .header-style2 .dd-menu .megamenu-container .megamenu-sub-title, .header-style2 .dd-menu .megamenu-container ul.sub-menu li a{
	color:#555;
}
.heroflex, .heroflex.flexslider ul.slides li{
	height:350px;
}
.hero-slider, .hero-slider.flexslider ul.slides li, .flex-caption-cell{
	height:500px;
}
.header-style2 .hero-slider, .header-style2 .hero-slider.flexslider ul.slides li, .header-style2 .flex-caption-cell{
	height:615px;
}
.hero-slider{
	background-color:#666;
}
.flex-caption-table{
	width:100%;
	display:table;
	vertical-align:middle;
}
.flex-caption-cell{
	display:table-cell;
}
.vertical-center .flex-caption-cell{
	vertical-align:middle;
}
.vertical-bottom .flex-caption-cell{
	vertical-align:bottom;
	padding-bottom:40px;
}
.flex-caption-text{
	display:block;
}
.flex-caption-text h1, .flex-caption-text h2, .flex-caption-text h3, .flex-caption-text p{
	color:#fff;
	margin-bottom:24px;
}
.flex-caption-text p{
	opacity:.8;
}
.flex-caption-text h2{
	font-size:41px;
	line-height:41px;
	font-weight:400;
}
.flex-caption-text a.ico{
	line-height: 1;
	position: relative;
	bottom: -7px;
	color:#fff;
}
.content{
	padding:60px 0;
}
.home .content{
	padding:60px 0 0;
}
.notice-bar{
	position:relative;
}
.notice-bar .galleryflex{
	margin:20px 0;
}
.notice-bar .slides li p{
	margin-bottom:0;
}
.notice-bar .btn{
	padding:20px;
	line-height:24px;
	text-align:left;
	position:relative;
	z-index:1;
	overflow:visible;
}
.notice-bar .btn:before{
	position:absolute;
	width:2000px;
	left:100%;
	top:0;
	z-index:0;
	height:100%;
	content:"";
}
.notice-bar .btn:after{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f105";
	color:#fff;
	font-size:60px;
	position:absolute;
	right:0;
	top:12px;
	z-index:1;
}
.notice-bar .btn span{
	font-family:"Playfair Display", serif;
	font-size:21px;
	font-weight:400;
	text-transform:none;
	left:0;
	display:block;
}
.notice-bar .btn em{
	font-style:normal;
	opacity:.4;
}
.notice-bar .icon-block{
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	font-size:24px;
	margin-right:20px;
	display:inline-block;
	background-color:#fff;
	float: left;
}
.notice-bar .flexslider .meta-data{
	display:inline-block;
}
.notice-bar .flexslider, .notice-bar .flexslider a {
	color:#ccc;
}
.notice-bar .flexslider a{
	border-bottom:1px solid transparent;
	padding-bottom:1px;
}
.notice-bar .flexslider a:hover{
	color:#fff;
}
.subhead{
	font-style:italic;
	margin-bottom:10px;
}
.subhead:before {
    content: "";
	display:inline-block;
	position:relative;
	top:-5px;
    height: 1px;
    width: 20px;
	margin-right:10px;
    background: #222;
}
.parallax .subhead{
	padding-left:15px;
}
.parallax .subhead:before{
	position:absolute;
	width:2000px;
	left:-1990px;
	top:10px
}
.featured-block{
	background:#fff;
	overflow:hidden;
}
.featured-block:before, .featured-block:after{
	content:"";
	display:table;
}
.featured-block:after{
	clear:both;
}
.featured-block-image, .featured-block-content{
	float:left;
	width:50%;
}
.featured-block-image{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.featured-block-info{
	border:1px solid #dbe2e8;
	border-bottom:0;
	border-right-width:0;
	padding:20px;
	position:relative;
}
.featured-block-info:after{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f0da";
	font-size:24px;
	right:-9px;
	top:20px;
	z-index:1;
	color:#fff;
	position:absolute;
}
.featured-block-info .subtitle{
	text-transform:uppercase;
	font-family:"Roboto", sans-serif;
	font-weight:700;
	font-size:13px;
	margin-bottom:18px;
	position:relative;
	display:block;
}
.featured-block-info .subtitle:before{
	width:3px;
	height:24px;
	position:absolute;
	left:-20px;
	content:"";
	top:-2px;
}
.featured-block-info h4{
	margin-bottom:0;
}
.featured-block-more{
	display:block;
	width:100%;
	position:relative;
	border:1px solid #dbe2e8;
	border-right:0;
	border-top:0;
	background:#f2f2f2;
	padding:10px 20px;
}
.shadow-block{
	background:#fff;
	box-shadow:0 0 20px rgba(0,0,0,.15);
	padding:40px;
	position:relative;
	z-index:9;
	top:-90px;
	margin-bottom:-90px;
}
.team-grid-item h4{
	margin-bottom:5px;
}
.grid-item h4 a{
	color:#555;
}
.grid-item-inner{
	padding:25px;
	border:1px solid #eee;
	margin-top:-1px;
	background:#fff;
}
.team-grid-item .grid-item-inner, .event-grid-item .grid-item-inner{
	padding:20px;
}
.grid-item-inner .meta-data{
	margin-bottom:10px;
}
.team-grid-item .meta-data{
	border-bottom:1px solid #E8E8E8;
	padding-bottom:13px;
	margin-bottom:13px;
}
.team-grid-item .basic-link{
	position:relative;
	top:-4px;
}
.team-grid-item .social-icons a{
	color:#5A5654;
	font-size:18px;
}
.team-grid-item .media-box .zoom .icon{
	width:80px;
	margin-left:-40px;
}
.team-grid-item .media-box .zoom .icon .fa{
	display:none;
}
.team-grid-item .media-box .zoom .icon:before{
	content:"Profile";
	font-size:13px;
	font-weight:700;
	text-transform:uppercase;
}
.testimonial-block{
	text-align:center;
	background: #B1706F;
}
.testimonial-static{
	background:#fff;
	/*border-radius:5px;*/
	box-shadow:0 0 10px rgba(0,0,0,.05);
	padding-top:30px;
	padding-bottom:30px;
}
.testimonial-block blockquote{
	padding:30px;
	padding-top:10px;

}
.testimonial-block blockquote p{
	padding-left:0;
	margin-left:0;
	border-left:0;
	padding-top:20px;
	font-size:21px;

}
.testimonial-avatar{
	border-radius:100%;
	display:inline-block;
	margin-right:10px;

}
.testimonial-info{
	height:60px;
	display:inline-block;
	vertical-align:middle;
	text-align:left;
}
.testimonial-info-in{
	height:60px;
	display:table-cell;
	vertical-align:middle;
}
.testimonial-info strong{
	display:block;
	line-height:14px;
	color:#222;
}
.testimonial-info span{
	font-size:13px;
	line-height:14px;
}
.testimonial-service{
	margin:0 auto;
	display:inline-block;
	letter-spacing:0;

}
 .accent-bg blockquote p{
	 color:#fff
	 ;
	 opacity:.8;
 }
.accent-bg .testimonial-info strong, .accent-bg .testimonial-info span{
	color:#fff
	;
}
.accent-bg .testimonial-info span{
	opacity:.6;
}
.accent-bg blockquote:before{
	color:
	;
	opacity:.2;
}
.accent-bg blockquote:after{
	background:#fff;
	opacity:.2;
}
.accent-bg .owl-theme .owl-page.active span{
	border-color:rgba(0,0,0,.5);
}
#testimonials-slider{
	margin-bottom:30px;
	background: #97413F;
}
.events-list{
	list-style-type:none;
	margin:0;
}
.events-list li{
	padding-top:22px;
	padding-bottom:26px;
	border-top:1px solid #E8E8E8;
}
.events-list li a:hover strong{
	color:#555;
}
.events-list li a strong{
	margin-bottom:7px;
	display:block;
	padding-left:65px;
}
.events-list li:before, .events-list li:after{
	content:"";
	display:table;
}
.events-list li:after{
	clear:both;
}
.events-list li .meta-data{
	display:inline-block;
}
.sidebar-widget .events-list li .meta-data, .footer_widget .events-list li .meta-data{
	display:block;
	padding-left:65px;
}
.event-date{
	float:left;
	width:50px;
	height:60px;
	margin-right:15px;
	text-align:center;
	border:1px solid #E8E8E8;
	margin-top:4px;
	position:relative;
	background:#fff;
}
.event-month{
	border-bottom:1px solid #E8E8E8;
	display:block;
	text-transform:uppercase;
	font-size:12px;
}
.event-day{
	font-size:20px;
	font-weight:700;
	line-height:35px;
	color:#222;
}
.events-list li .btn-sm{
	float:right;
	margin-top:11px;
}
.border-tb{
	border-top:1px solid #E8E8E8;
	border-bottom:1px solid #E8E8E8;
}
.site-footer{
	background-color:#998C88;
	padding:50px 0 0;
}
.footer-row2{
	padding:15px 0;
	margin-top:40px;
	border-top:1px solid rgba(255,255,255,.1);
	border-bottom:1px solid rgba(255,255,255,.1);
}
.footer-row3{
	padding:25px 0;
	font-size:12px;
	border-radius: 15px;
}
.site-footer:before, .site-footer:after, .footer-row2:before, .footer-row2:after, .footer-row3:before, .footer-row3:after{
	content:"";
	display:table;
}
.site-footer:after, .footer-row2:after, .footer-row3:after{
	clear:both;
}
.site-footer-logo{
	opacity:.5;
	float:right;
}

.footer-row2 .social-icons{
	margin-top:-3px
}
.footer-menu{
	list-style-type:none;
	margin:0;
}
.footer-menu li{
	display:inline-block;
	margin-right:10px;
	font-size:12px;
}
.footer-menu li:after{
	content:"/";
	margin-left:10px;
}
.footer-menu li:last-child:after{
	content:"";
}
.footer-row3 p{
	margin-bottom:0;
	margin-top:5px;
}
.site-footer{
	font-size:20px;
}
.site-footer .footer_widget a, .site-footer a{
	color:#fff;
}
.site-footer .footer_widget a:hover, .site-footer a:hover{
	color:#7D110F
	;
}
.cta p{
	line-height:40px;
	color:#222;
}
.page-header{
	background-color:#f5f5f5;
	background-repeat:none;
	background-position:center center;
	background-size:cover;
	padding:65px 0;
	margin:0;
	border-bottom:1px solid #f2f2f2
}
.page-header.have-submenu{
	padding-bottom:100px;
}
.page-header h1{
	margin-bottom:0;
	margin-top:-8px;
}
.page-header-light h1{
	color:#fff;
}
.utility-bar{
	border-bottom:1px solid #f2f2f2;
	position:relative;
	z-index:3;
	top:-52px;
	margin-bottom:-52px;
}
.template-submenu{
	margin:0;
	list-style-type:none;
	border-left:1px solid #eee
}
.template-submenu:before, .template-submenu:after{
	content:"";
	display:table;
}
.template-submenu:after{
	clear:both;
}
.template-submenu li{
	float:left;
	width:25%;
}
.template-submenu.items3 li{
	width:33.3333%;
}
.template-submenu li a{
	display:block;
	font-weight:700;
	line-height:50px;
	padding:0 30px;
	border-right:1px solid #eee;
	border-top:1px solid #eee;
	background:#fff
	;
	color:#999;
	margin-bottom:-3px;
	text-align:center;
}
.template-submenu li a:hover{
	color:#555;
}
.template-submenu li.active a{
	color:#555;
	border-bottom:3px solid transparent;
}
.breadcrumb{
	padding:0;
}
.img-thumbnail{
	border:0;
	padding:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}


.isotope-grid{
	list-style-type:none;
	margin:0;
}
.isotope-grid .grid-item{
	margin-bottom:40px;
}
.testimonial-block{
	margin:20px 0;

}
.team-list{
	margin-top:0;
	margin-bottom:0;
	list-style-type:none;
}
.team-list-item{
	margin-top:25px;
	margin-bottom:25px;
}
.team-list-item img{
	float:left;
	margin-right:20px;
	width:100px;
	height:100px;
	border-radius:100%;
	position:relative;
	z-index:1;
}
.team-list-item h5{
	padding-left:120px;
	margin-bottom:6px;
	font-weight:700;
}
.team-list-item .meta-data{
	padding-bottom:15px;
	margin-bottom:6px;
	display:block;
	font-weight:400;
	letter-spacing:0;
	border-bottom:1px solid #ddd;
}
.card-content{
	padding:50px;
}
.arrow-upwards{
	background-color:#fff;
	position:relative;
	z-index:1;
	top:-35px;
	margin:0 auto;
	width:70px;
	height:70px;
	border-radius:100%;
	text-align:center;
	line-height:70px;
	font-size:30px;
	box-shadow:0 0 10px rgba(0,0,0,.15);
}
.timeline {
    list-style-type: none;
    padding: 20px 0 20px;
    position: relative;
	margin:0;
}
.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #f5f5f5;
	left: 50%;
	margin-left: -1.5px;
}
.timeline > li {
	margin-bottom: 20px;
	position: relative;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li > .timeline-panel {
	width: 46%;
	float: left;
	border: 1px solid #eee;
	/*border-radius: 5px;*/
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}
.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 29px;
	right: -10px;
	display: inline-block;
	border-top: 10px solid transparent;
	border-left: 10px solid #eee;
	border-right: 0 solid #eee;
	border-bottom: 10px solid transparent;
	content: " ";
}
.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 30px;
	right: -9px;
	display: inline-block;
	border-top: 9px solid transparent;
	border-left: 9px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 9px solid transparent;
	content: " ";
}
.timeline > li > .timeline-badge {
	color: #fff;
	width: 50px;
	height: 50px;
	font-weight:700;
	line-height:50px;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #f5f5f5;
	z-index: 100;
	border-radius:100%;
}
.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 10px;
	left: -10px;
	right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 9px;
	left: -9px;
	right: auto;
}
.timeline-body > p:last-child,
.timeline-body > ul:last-child {
	margin-bottom:0;
}
.timeline-image{
	float:left;
}
.timeline-body {
	padding:20px;
}
.hero-area{
}
.pages-sub-menu{
	margin:0;
	list-style-type:none;
	border-top:1px solid #f5f5f5;
	box-shadow:0 0 2px rgba(0,0,0,.04)
}
.pages-sub-menu li{
	border-left:1px solid #f5f5f5;
	border-right:1px solid #f5f5f5;
	border-bottom:1px solid #f5f5f5;
}
.pages-sub-menu .fa-angle-right{
	float:right;
	font-size:24px;
	color:#ddd;
}
.pages-sub-menu a{
	padding:20px;
	padding-top:17px;
	display:block;
	background:#fff;
	color:#555;
	border-top:3px solid transparent;
}
.pages-sub-menu li:hover a, .pages-sub-menu li.active a{
	background-color:#f5f5f5;
}
#service-blocks .accordion-body a{
	text-decoration:underline;
	color:#555;
}
#service-blocks .accordion-body a:hover{
	text-decoration:none;
}
.blog-list-item{
	margin-bottom:35px;
	padding-bottom:35px;
	border-bottom:1px solid #eee;
}
.content .blog-list-item:last-child{
	border-bottom:0;
	margin-bottom:0;
	padding-bottom:0;
}
.blog-list-item h4 a{
	color:#3F0908;
}
.blog-list-item .meta-data, .blog-grid-item .meta-data{
	border-bottom:2px solid transparent;
	display:inline-block;
	margin-bottom:10px;
}
.single-post .blog-grid-item .meta-data{
	margin-bottom:0;
}
.post-item-meta{
	padding:10px 0 0;
	font-size:12px;
	display:block;
}
.blog-grid-item .post-item-meta, .single-post .post-item-meta{
	padding: 0 0 10px 0;
}
.post-item-meta a, .post-item-meta a:hover{
}
.post-item-meta a:hover{
	opacity:.7;
}
.post-item-meta:before, .post-item-meta:after, .next-prev-post:before, .next-prev-post:after{
	content:"";
	display:table;
}
.post-item-meta:after, .next-prev-post:after{
	clear:both;
}
.pagination{
	margin-top:0;
}
.next-prev-post{
	border:1px solid #eee;
	margin-top:40px;
}
.next-prev-post .pull-left{
	border-right:1px solid #eee;
}
.next-prev-post .pull-right, .next-prev-post .pull-left{
	width:50%;
	padding:20px;
}
.next-prev-post .pull-right{
	text-align:right;
}
.next-prev-post a{
	display:block;
}
.next-prev-post img{
	float:left;
	margin-right:20px;
	border-radius:100%;
	width:80px;
	height:80px;
}
.next-prev-post .pull-right img{
	float:right;
	margin-left:20px;
	margin-right:0;
}
.next-prev-post h5{
	margin-top:15px;
}
.next-prev-post .meta-data{
	display:block;
	margin-bottom:10px;
	color:#999;
}
.post-comments{
	margin:40px 0 0 0;
}
.comments{
	margin:0;
	list-style-type:none;
	padding-top:25px;

}
.comments li{
	margin-bottom:35px;
	border-bottom:1px solid #eee;
}
.comments li .post-comment-block{
	padding-bottom:15px;
}
.comments li.admin > .post-comment-block{
	background-color:#f9f9f9;
}
.comments li .img-thumbnail{
	float:left;
	margin-right:20px;
	width:80px;
	border:1px solid #fff;
	border-radius:100%;
	box-shadow:0 0 1px rgba(0,0,0,.2);
}
.comments li .meta-data{
	margin-bottom:12px;
}
.comments li h5{
	margin-bottom:5px;
	font-weight:700;
	font-size:16px;
}
.comments li h5 span{
	color:#999;
	font-weight:400;
	font-family:"Lora", serif;
}
.post-comment-content{
	padding-left:100px;
}
.comments li ul{
	padding-top:25px;
	padding-left:50px;
	margin:0;
	list-style-type:none;
	border-top:1px solid #eee;
}
.comments li ul > li:last-child{
	margin-bottom:0;
	border-bottom:0;
}
.post-comment-form{
	margin:35px 0 0 0;
	border-bottom:0;
}
.post-comment-form .form-control{
	margin-bottom:5px;
	margin-top:15px;
}
.post-comment-form .btn{
	margin-top:15px;
}
.inblock{
	display:inline-block;
}
.nav-np{
	display:inline-block;
}
.nav-np li{
	display:inline-block;
}
.nav-np li a{
	display:block;
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
	border:1px solid #eee;
	/*border-radius:3px;*/
}
.header-counter{
	top:-65px;
	margin-bottom:-72px;
	position:relative;
	float:right;
}
.upcoming-event-counter{
	color:#fff;
	z-index:0;
	padding:20px 54px;
	border-radius:0 0 4px 4px;
	text-transform:uppercase;
	font-weight:700;
	float:right;
	opacity:.8;
}
.event-counter{
	margin-top:15px;
}
.event-counter .timer-col{
	display:inline-block;
	font-size:24px;
	letter-spacing:1px;
	width:40px;
	text-align:center;
	margin:0 10px;
	color:#555;
}
.page-header .event-counter .timer-col{
	margin-left:20px;
	margin-right:0;
}
.timer-col #days, .timer-col #hours, .timer-col #minutes, .timer-col #seconds{
	line-height:40px;
}
.timer-col .timer-type{
	font-size:12px;
	display:block;
	margin-top:2px;
	text-transform:uppercase;
	color:#999;
	line-height:20px;
}
.event-grid-item .grid-item-inner{
	position:relative;
}
.event-grid-time{
	position:absolute;
	top:-43px;
	opacity:.8;
	display:block;
	width:100%;
	z-index:1;
	left:0;
	font-size:13px;
	padding:10px 20px;
	color:#fff;
}
.single-event-left{
	padding:25px;
	color:#fff;
}
.single-event-left p{
	font-size:14px;
	opacity:.8
}
.job-block{
	border:1px solid #eee;
	box-shadow:0 0 2px rgba(0,0,0,.04);
	padding:30px;
	margin-bottom:40px;
}
.job-block .meta-data{
	display:inline-block;
}
#contact-map{
	height:500px;
}
.contact-info-block{
	padding:0;
	top:-150px;
	margin-bottom:-150px;
}
.contact-info-block .contact-form{
	padding:30px;

}
.contact-info-block .social-icons{
	margin-top:65px;

}
.contact-info-block .social-icons li a{
	font-size:20px;
}
.call-to-action{
	text-align:center;
	padding-top:45px;
	padding-bottom:45px;

}
.call-to-action-text, .call-to-action-btn{
	display:inline-block;
	vertical-align:middle;
}
.call-to-action-text{
	font-size:21px;
	line-height:32px;
	color:#fff;
}
.call-to-action-btn{
	text-align:right;
	margin-left:40px;
}

#back-to-top{
	position:fixed;
	right:-40px;
	bottom:15px;
	background:rgba(0,0,0,.8);
	width:40px;
	height:40px;
	text-align:center;
	color:#fff;
	line-height:43px;
	overflow:hidden;
	font-size:17px;
	display:block;
	z-index:1111;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
/* ==================================================
   8. Widgets Styling
================================================== */
.widgettitle{
	position:relative;
	margin-bottom:30px;
	border-left:3px solid transparent;
	background:#f5f5f5;
	padding:10px 10px 10px 20px;
	font-size:18px;
}
.sidebar-widget.widget{
	margin-bottom:40px;
}
.sidebar .widget:last-child{
	margin-bottom:0;
}
.sidebar.positioned{
	position:relative;
	z-index:1;
	top:-95px;
	margin-bottom:-95px;
}
.widget.fancy_block{
	border:1px solid #eee;
	box-shadow:0 0 2px rgba(0,0,0,.04);
	padding:22px;
}
.widget.fancy_block2{
	padding:40px;
}
.sidebar-block .widget:last-child{
	margin-bottom:0;
}
.widget li.list-group-item{
	margin-bottom:0;
	border-bottom:0;
}
.widget_categories:before, .widget_categories:after, .widget_archive:before, .widget_archive:after, .widget_custom_category:before, .widget_custom_category:after, .widget_recent_posts li:before, .widget_recent_posts li:after{
	content:" ";
	display:table;
}
.widget_categories:after, .widget_archive:after, .widget_custom_category:after, .widget_recent_posts li:after{
	clear:both;
}
.widget_categories ul, .widget_archive ul, .widget_recent_entries ul, .widget_recent_comments ul, .widget_links ul, .widget_meta ul, .widget_recent_posts ul, .widget_custom_category ul{
	list-style-type:none;
	margin:0;
}
.widget_categories ul li, .widget_archive ul li, .widget_recent_entries ul li, .widget_recent_comments ul li, .widget_links ul li, .widget_meta ul li, .twitter-widget ul li, .widget_recent_posts ul li, .widget_custom_category ul li{
	border-bottom:1px solid #eee;
	padding-bottom:10px;
	margin-bottom:10px;
}
.widget_categories ul li i, .widget_archive ul li i, .widget_recent_entries ul li i, .widget_recent_comments ul li i, .widget_links ul li i, .widget_meta ul li i, .widget_recent_posts ul li i, .widget_custom_category ul li i{
	font-size:11px;
	color:#999
}
.footer_widget.widget_categories ul li, .footer_widget.widget_archive ul li, .footer_widget.widget_recent_entries ul li, .footer_widget.widget_recent_comments ul li, .footer_widget.widget_links ul li, .footer_widget.widget_meta ul li, .footer_widget .twitter-widget ul li, .footer_widget.widget_recent_posts ul li, .footer_widget.widget_custom_category ul li{
	border-bottom:1px solid rgba(255,255,255,.1);
}
.widget_categories ul li a, .widget_archive ul li a, .widget_recent_entries ul li a, .widget_recent_entries ul li a, .widget_recent_comments ul li a, .widget_links ul li a, .widget_meta ul li a, .widget_recent_posts ul li a, .widget_custom_category ul li a{
	display:inline-block;
	position:relative;
	color:#555;
}
.footer_widget.widget_links ul{
	float:left;
	margin-right:30px;
}
.footer_widget ul li:last-child{
	border-bottom:0;
}
.footer_widget.widget_recent_posts li .meta-data{
	opacity:.4;
}
.widget_links ul li.active a{
	font-weight:700;
}
.widget .meta-data{
	margin-top:5px;
	line-height:20px;
}
.tagcloud a{
	display:inline-block;
	margin-right:4px;
	margin-bottom:10px;
	padding:4px 11px;
	/*border-radius:3px;*/
	border: 1px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
	background:#fff;
	text-decoration:none;
	font-size:13px;
	color:#555;
}
.widget .tagcloud a:hover, .tagcloud a:hover{
	text-decoration:none;
	color:#fff;
}
.twitter-widget li:nth-child(odd){
	display:none;
}
.twitter-widget ul{
	margin:0;
	list-style-type:none;
}
.twitter-widget .tweet-date{
	font-weight:700;
	margin-left:6px;
}
.footer_widget h4.widgettitle{
	font-family:"Roboto", sans-serif;
	text-transform:uppercase;
	border-bottom:0;
	color:#fff;
	font-weight:700;
	margin-bottom:30px;
	letter-spacing:1px;
	font-size:15px;
	border-left:0;
	background:none;
	padding:0;
}
.widget_recent_posts ul li .meta-data{
	font-size:11px;
}
.widget_custom_menu ul{
	list-style-type:none;
	margin:0;
}
.sidebar-widget .events-list li, .footer_widget .events-list li{
	padding:15px 0;
}

/* ==================================================
   9. Shortcodes Styling
================================================== */
.fact-ico{
	float:left;
	margin:0 20px 0 0;
}
.fact{
	margin-top:10px;
	display:block;
	color:#666;
	font-size:18px;
}
.fact.padding-l0{
	padding-left:0;
}
.counters .timer{
	display:-block;
	color:#333;
	font-weight:700;
	font-size:38px;
	margin-top:5px;
}
.counters .timer.timer-huge{
	 font-size:80px;
	 line-height:80px
}
.parallax-light .fact-ico, .parallax-light .timer, .parallax-light h1, .parallax-light h2, .parallax-light h3, .parallax-light h4, .parallax-light h5, .parallax-light h6, .parallax-light .subhead{
	color:#fff;
	position:relative;
	z-index:2;
}
.parallax-light .fact, .parallax-light p{
	color:rgba(255,255,255,.7);
	margin-bottom:0;
}
.parallax-light .icon-box.ibox-light.ibox-plain .ibox-icon i{
	color:#fff;
}
.parallax-text-block{
	padding:40px;
	background:#fff;
	width:360px;
	box-shadow:0 0 10px rgba(0,0,0,.2);
}
.icon-box{
	margin-bottom:30px;
}
.icon-box.ibox-plain.ibox-small{
	padding-left:26px
}
.icon-box .ibox-icon{
	display:block;
	position:absolute;
	width:64px;
	height:64px;
	top:0;
	left:0
}
.icon-box .ibox-icon a,.icon-box .ibox-icon i,.icon-box .ibox-icon img{
	display:block;
	position:relative;
	width:100%;
	height:100%;
	color:#fff
}
.icon-box .ibox-icon i,.icon-box .ibox-icon img{
	border-radius:50%;
}
.icon-box .ibox-icon i{
	font-style:normal;
	font-size:28px;
	text-align:center;
	line-height:64px
}
.icon-box .before-heading{
	font-size:14px
}
.icon-box.ibox-large{
	padding:0 0 0 115px
}
.icon-box.ibox-large .ibox-icon {
	width:96px;
	height:96px;
}
.icon-box.ibox-outline .ibox-icon {
	border:1px solid;
	border-radius:50%;
	padding:3px;
}
.icon-box.ibox-outline .ibox-icon i {
	line-height:56px;
}
.icon-box.ibox-outline.ibox-large .ibox-icon {
	padding:4px;
}
.icon-box.ibox-rounded .ibox-icon,.icon-box.ibox-rounded .ibox-icon i,.icon-box.ibox-rounded .ibox-icon img {
	border-radius:3px!important;
}
.icon-box.ibox-rounded.ibox-large .ibox-icon,.icon-box.ibox-rounded.ibox-large .ibox-icon i,.icon-box.ibox-rounded.ibox-large .ibox-icon img {
	border-radius:4px!important;
}
.icon-box.ibox-light .ibox-icon i,.icon-box.ibox-light .ibox-icon img {
	border:1px solid #eee;
	background-color:#f9f9f9;
	color:#444;
}
.icon-box.ibox-light .ibox-icon i {
	line-height:62px;
}
.icon-box.ibox-light.ibox-large .ibox-icon i {
	line-height:96px;
}
.icon-box.ibox-light.ibox-outline.ibox-large .ibox-icon i {
	line-height:84px;
}
.icon-box.ibox-dark.ibox-outline .ibox-icon {
	border-color:#444;
}
.icon-box.ibox-dark .ibox-icon i,.icon-box.ibox-dark .ibox-icon img {
	background-color:#998C88;
}
.icon-box.ibox-border .ibox-icon {
	border:1px solid;
	border-radius:50%;
	padding:0;
}
.icon-box.ibox-border .ibox-icon i,.icon-box.ibox-border .ibox-icon img {
	border:none;
	background-color:transparent!important;
}
.icon-box.ibox-border.ibox-dark .ibox-icon {
	border-color:#998C88;
}
.icon-box.ibox-plain .ibox-icon {
	border:none!important;
	height:auto!important;
}
.icon-box.ibox-plain .ibox-icon i,.icon-box.ibox-plain .ibox-icon img {
	border:none!important;
	background-color:transparent!important;
	border-radius:0;
}
.icon-box.ibox-plain .ibox-icon i {
	font-size:48px;
	line-height:1!important;
}
.icon-box.ibox-plain.ibox-image .ibox-icon {
	width:auto;
}
.icon-box.ibox-plain.ibox-image .ibox-icon img {
	width:auto;
	display:inline-block;
}
.icon-box.ibox-plain.ibox-small {
	padding-left:42px;
}
.icon-box.ibox-plain.ibox-small .ibox-icon {
	width:28px;
}
.icon-box.ibox-plain.ibox-small h3 {
	font-size:15px;
	line-height:26px;
	margin-bottom:10px;
}
.icon-box.ibox-plain.ibox-small p {
	margin-left:-42px;
}
.icon-box.ibox-plain.ibox-small .ibox-icon i {
	font-size:28px;
}
.icon-box.ibox-plain.ibox-small .ibox-icon img {
	height:28px;
}
.icon-box.ibox-plain.ibox-large .ibox-icon i {
	font-size:72px;
}
.icon-box.ibox-center {
	text-align:center;
	padding:0;
}
.icon-box.ibox-center .ibox-icon {
	position:relative;
	width:96px;
	height:96px;
	margin:0 auto 30px;
}
.icon-box.ibox-center.ibox-outline .ibox-icon i {
	line-height:88px;
}
.icon-box.ibox-center p {
	margin-top:15px;
}
.icon-box.ibox-center.ibox-large .ibox-icon {
	width:128px;
	height:128px;
}
.icon-box.ibox-center.ibox-large .ibox-icon i {
	font-size:70px;
	line-height:128px;
}
.icon-box.ibox-center.ibox-large.ibox-outline .ibox-icon i {
	line-height:118px;
}
.icon-box.ibox-center.ibox-light .ibox-icon i {
	line-height:94px;
}
.icon-box.ibox-center.ibox-light.ibox-outline.ibox-large .ibox-icon i {
	line-height:114px;
}
.icon-box.ibox-center.ibox-large.ibox-border .ibox-icon i {
	line-height:126px!important;
}
.icon-box.ibox-center.ibox-plain .ibox-icon i {
	font-size:84px;
}
.icon-box.ibox-center.ibox-large.ibox-plain .ibox-icon i {
	font-size:112px;
}
.icon-box.ibox-center.ibox-large.ibox-plain .ibox-icon img {
	height:128px;
}
.icon-box.ibox-center.ibox-small .ibox-icon {
	width:64px;
	height:64px;
}
.icon-box.ibox-center.ibox-small .ibox-icon i {
	font-size:28px;
	line-height:64px;
}
.icon-box.ibox-center.ibox-small.ibox-outline .ibox-icon i {
	line-height:58px;
}
.icon-box.ibox-center.ibox-small.ibox-plain .ibox-icon i {
	font-size:56px;
}
.icon-box.ibox-center.ibox-small p {
	font-size:14px;
	margin-top:10px;
}
.icon-box.ibox-center.ibox-plain.ibox-small p {
	margin-left:0;
}
.icon-box.ibox-right {
	text-align:right;
	padding:0 80px 0 0;
}
.icon-box.ibox-right.ibox-large {
	padding-right:115px;
}
.icon-box.ibox-right .ibox-icon {
	left:auto;
	right:0;
}
.icon-box.ibox-right.ibox-plain.ibox-small {
	padding:0 42px 0 0;
}
.icon-box.ibox-right.ibox-plain.ibox-small p {
	margin:0 -42px 0 0;
}
.icon-box h3+.ibox-icon {
	margin-top:20px!important;
}
.icon-box h3 span.subtitle {
	display:block;
	margin-top:5px;
	color:#444;
	text-transform:none;
}
.icon-box.ibox-center:not(.ibox-bg) h3:after {
	content:'';
	display:block;
	width:30px;
	border-top:2px solid #ddd;
	-webkit-transition:width .3s ease;
	-o-transition:width .3s ease;
	transition:width .3s ease;
	margin:20px auto;
}
.icon-box.ibox-center:not(.ibox-bg):hover h3:after {
	width:50px;
}
.icon-box.ibox-center.noborder:not(.ibox-bg) h3:after,.icon-box.ibox-center.nobottomborder:not(.ibox-bg) h3:after {
	display:none;
}
.icon-box.ibox-center.ibox-italic p {
	font-style:italic;
}
.icon-box.ibox-bg.ibox-center {
	margin-top:68px;
	background-color:#fff;
	border:1px solid #eee;
	/*border-radius:5px;*/
	padding:68px 30px 30px;
}
.icon-box.ibox-bg.ibox-center:first-child {
	margin-top:48px;
}
.icon-box.ibox-bg.ibox-center.ibox-large {
	margin-top:84px;
	padding-top:84px;
}
.icon-box.ibox-bg.ibox-center.ibox-large:first-child {
	margin-top:64px;
}
.icon-box.ibox-bg.ibox-center .ibox-icon {
	position:absolute;
	top:-48px;
	left:50%;
	margin:0 0 0 -48px;
}
.icon-box.ibox-bg.ibox-center.ibox-large .ibox-icon {
	top:-64px;
	left:50%;
	margin-left:-64px;
}
.icon-box.ibox-bg.ibox-center.ibox-border .ibox-icon,.icon-box.ibox-bg.ibox-center.ibox-outline .ibox-icon,.icon-box.ibox-bg.ibox-center.ibox-plain .ibox-icon {
	background-color:#FFF;
}
.icon-box .ibox-icon i {
	z-index:1;
	-webkit-transition:background-color .3s,color .3s;
	-o-transition:background-color .3s,color .3s;
	transition:background-color .3s,color .3s;
}
.icon-box .ibox-icon i:after {
	pointer-events:none;
	position:absolute;
	width:100%;
	height:100%;
	border-radius:50%;
	content:'';
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	top:-3px;
	left:-3px;
	box-shadow:0 0 0 2px #998C88;
	-webkit-transition:0 .3s,opacity .3s;
	-webkit-transform:scale(.8);
	-moz-transition:0 .3s,opacity .3s;
	-moz-transform:scale(.8);
	-ms-transform:scale(.8);
	transition:transform .3s,opacity .3s;
	transform:scale(.8);
	opacity:0;
	padding:3px;
}
.icon-box .ibox-icon i:hover,.icon-box:hover .ibox-icon i {
	background-color:#998C88;
	color:#fff;
}
.icon-box.ibox-outline:hover .ibox-icon{
	border-color:#998C88;
}
.icon-box {
	position:relative;
	margin-top:20px;
	padding:0 0 0 80px;
}
.icon-box:first-child {
	margin-top:0;
}
.icon-box .ibox-icon {
	display:block;
	position:absolute;
	width:64px;
	height:64px;
	top:0;
	left:0;
}
.icon-box .ibox-icon a,.icon-box .ibox-icon i,.icon-box .ibox-icon img {
	display:block;
	position:relative;
	width:100%;
	height:100%;
	color:#fff;
}
.icon-box .ibox-icon i,.icon-box .ibox-icon img {
	border-radius:50%;
}
.icon-box .ibox-icon i {
	font-style:normal;
	font-size:28px;
	text-align:center;
	line-height:64px;
}
.icon-box h3 {
	font-size:19px;
	font-family:"Roboto", sans-serif;
	margin-bottom:0;
	font-weight:400;
}
.icon-box p {
	margin:8px 0 0;
}
.icon-box .before-heading {
	font-size:14px;
}
.icon-box.ibox-large {
	padding:0 0 0 115px;
}
.icon-box.ibox-large .ibox-icon i,.icon-box.ibox-center .ibox-icon i {
	font-size:42px;
	line-height:96px;
}
.icon-box.ibox-outline.ibox-large .ibox-icon i,.icon-box.ibox-center.ibox-light.ibox-outline .ibox-icon i {
	line-height:86px;
}
.icon-box.ibox-light.ibox-outline .ibox-icon,.icon-box.ibox-border.ibox-light .ibox-icon {
	border-color:#eee;
}
.icon-box.ibox-light.ibox-outline .ibox-icon i,.icon-box.ibox-center.ibox-light.ibox-outline.ibox-small .ibox-icon i {
	line-height:54px;
}
.icon-box.ibox-border .ibox-icon i,.icon-box.ibox-center.ibox-small.ibox-border .ibox-icon i {
	line-height:62px!important;
}
.icon-box.ibox-border.ibox-large .ibox-icon i,.icon-box.ibox-center.ibox-border .ibox-icon i {
	line-height:94px!important;
}
.icon-box.ibox-border.ibox-light .ibox-icon i,.icon-box.ibox-border.ibox-light .ibox-icon img,.icon-box.ibox-plain.ibox-light .ibox-icon i,.icon-box.ibox-plain.ibox-light .ibox-icon img {
	color:#888;
}
.icon-box.ibox-border.ibox-dark .ibox-icon i,.icon-box.ibox-border.ibox-dark .ibox-icon img,.icon-box.ibox-plain.ibox-dark .ibox-icon i,.icon-box.ibox-plain.ibox-dark .ibox-icon img {
	color:#444;
}
.icon-box.ibox-plain .ibox-icon img,.icon-box.ibox-center.ibox-small.ibox-plain .ibox-icon img {
	height:64px;
}
.icon-box.ibox-plain.ibox-large .ibox-icon img,.icon-box.ibox-center.ibox-plain .ibox-icon img {
	height:96px;
}
.ibox-rounded .ibox-icon i:after,.ibox-border.ibox-rounded .ibox-icon i:after {
	border-radius:3px;
}
.icon-box.ibox-white .ibox-icon{
	border-color:#fff!important;
}
.icon-box.ibox-white .ibox-icon i{
	color:#fff!important;
}
.icon-box.ibox-white h3{
	color:#fff;
}
.icon-box.ibox-white p{
	color:#fff;
	opacity:.7;
}
.parallax{
	background-attachment: fixed!important;
	background-position:center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-repeat:no-repeat;
	background-color:#333;
	position:relative;
}
.touch .parallax, .page-banner.parallax{
	background-attachment:scroll!important;
}
.pricing-table {
	margin-top: 50px;
	margin-bottom: 50px;
}
.pricing-table:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: "";
}
.pricing-table > div:first-child .pricing-column-content, .pricing-table > div:first-child h3 {
	border-left: 1px solid #eee!important;
}
.pricing-column {
	float: left;
	overflow: hidden;
	padding: 0px;
	background-color: #fff;
	text-align: center;
	-webkit-transition: box-shadow 0.2s linear;
	-moz-transition: box-shadow 0.2s linear;
	-o-transition: box-shadow 0.2s linear;
	transition: box-shadow 0.2s linear;
}
.pricing-column .features{
	padding:0;
	margin-bottom:0;
	background:none;
}
.pricing-column .features a{
	color:#5e5e5e;
}
.pricing-column .pricing-column-content {
	padding: 0px 0px 20px 0px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.pricing-column.highlight {
	z-index: 1;
	margin: -20px 0 0 -1px;
	background-color: #ffffff;
}
.pricing-column.highlight .pricing-column-content, .pricing-column.highlight h3  {
	border: none;
}
.pricing-column.highlight h3 .highlight-reason {
	display: block;
    color: rgba(0,0,0,0.4);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;
}
.pricing-column.highlight .pricing-column-content {
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
}
.pricing-table .popover{
	text-align:center;
}
.pricing-column ul li {
	padding: 10px 25px;
	border-bottom: 1px solid #eee;
	color: #666666!important;
	list-style: none;
	line-height: 18px;
}
.pricing-column ul li a{
	margin-left:10px;
}
.pricing-column ul li:first-child {
	border-top: 1px solid #eee;
}
.pricing-column ul li:nth-child(2n+1) {
	background-color: #F9F8F5;
}
.pricing-column.highlight h3 {
	margin-bottom: 0px!important;
	padding: 15px 0px;
	color: #ffffff!important;
}
.toggle .pricing-column h3 {
	font-size: 26px!important;
}
.pricing-column h3 {
	margin-bottom: 0px;
	padding: 18px 0px 18px 0px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #ffffff;
	font-size: 26px;
	line-height: 28px;
}
.pricing-column h4 {
	margin-bottom: 0px;
	margin-left: -22px;
	padding: 20px 30px 6px 30px;
	color: #333333;
	font-size: 54px!important;
	line-height: 42px!important;
}
.pricing-column h4 .dollar-sign {
	position: relative;
	top: -14px;
	right: -6px;
	font-size: 22px;
	line-height: 22px;
}
.pricing-column .interval {
	display: block;
	padding-bottom: 17px;
	min-height: 38px;
	color: #999999;
}
.pricing-column ul {
	margin-left: 0px;
}
.pricing-column .btn{
	margin-top:25px;
}
.pricing-column.highlight .btn{
	margin-bottom:20px;
}
.pricing-table.six-cols > div {
	width: 16.5%;
}
.pricing-table.five-cols > div {
	width: 20%;
}
.pricing-table.four-cols > div {
	width: 25%;
}
.pricing-table.three-cols > div {
	width: 33.2%;
}
.pricing-table.two-cols > div {
	width: 50%;
}

/* ==================================================
   10. Responsive Media Queries
================================================== */
@media (min-width:1200px){
}
@media (min-width: 992px) and (max-width: 1199px) {
	.dd-menu > li, #info-toggle{
		margin-left:22px;
	}
	.footer_widget.widget_links ul{
		float:none;
		margin-right:0;
	}
	.header-style3 #info-content > li{
		margin-left:20px;
	}
	.hide-br{
		display:none;
	}
	.event-grid-time{
		top:-67px;
	}
	.fancy_block2 .btn{
		letter-spacing:0;
		padding-left:15px;
		padding-right:15px;
	}
}
@media only screen and (max-width: 992px) {
	.site-header .container, .topbar .container{
		width:100%;
		position:relative;
	}
	#info-toggle{
		margin-left:20px;
	}
	.main-navigation{
		display: none;
		position:absolute;
		width:100%;
		float:none;
		background:rgb(125, 17, 15);
		top:59px;
		left:0;
		margin-top:0;
	}
	.main-navigation .container{
		width:100%;

	}
	.dd-menu > li{
		width:100%;
		float:none;
		display:block;
		margin-left:0;
		border-bottom:1px solid rgba(0,0,0,.1);
	}
	#menu-toggle{
		display:inline-block;
		float:right;
	}
	.dd-menu > li > a {
		color: #fff;
		line-height: 20px;
		padding: 15px 20px;
	}
	.dd-menu > li > a:hover{
		color:#fff!important;
		opacity:.8;
	}
	.dd-menu > li.megamenu{
		position:static!important;
	}
	.dd-menu > li ul, .dd-menu > li > ul li ul{
		position:static;
	}
	.dd-menu .megamenu-container .megamenu-sub-title{
		margin-top:30px;
	}
	.heroflex, .heroflex.flexslider ul.slides li{
		height:250px;
	}
	.hero-slider, .hero-slider.flexslider ul.slides li, .flex-caption-cell{
		height:400px;
	}
	.header-style2 .hero-slider, .header-style2 .hero-slider.flexslider ul.slides li, .header-style2 .flex-caption-cell{
		height:500px;
	}
	.flex-caption-text h2{
		font-size:21px;
	}
	.header-style3 #info-content li{
		width:100%;
		display:block;
		float:none;
	}
	.header-style3 #info-content{
		display:none;
		width:250px;
		position:absolute;
		top:62px;
		right:15px;
		z-index:9;
		margin:0;
		list-style-type:none;
	}
	.header-style3 #info-content:before{
		display:inline-block;
		font:normal normal normal 14px/1 FontAwesome;
		font-size:30px;
		text-rendering:auto;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
		content:"\f0d8";
		position:absolute;
		top:-20px;
		z-index:9;
		right:12px;
	}
	.header-style3 #info-content > li{
		padding:15px 25px;
		border-bottom:1px solid rgba(0,0,0,.1);
		color:#fff;
		font-size:14px;
		margin-left:0;
	}
	.header-style3 #info-content > li i{
		color:#fff!important;
		text-align:left;
	}
	.main-navigation .social-icons{
		display:none;
	}
	.header-style3 .main-navigation{
		top:0;
		background:#555;
	}
	.header-style3 .main-navigation{
		padding:0;
	}
	.template-submenu li a{
		padding-left:10px;
		padding-right:10px;
	}
	.hide-br{
		display:none;
	}
	.team-list-item{
		margin-bottom:45px;
	}
	h1.huge{
		font-size:35px;
	}
	.event-grid-time{
		top:-67px;
	}
	.fancy_block2{
		margin-bottom:30px;
	}
	.call-to-action-btn{
		margin-top:30px;
		margin-left:0;
	}
	.pricing-column .features{
		margin-bottom:0;
	}
	.pricing-column.highlight {
		margin: 0;
  	}
	.pricing-table > div:third-child .pricing-column-content, .pricing-table > div:nth-child(2n+1) h3 {
		border-left: 1px solid #eeeeee!important;
	}
  	.pricing-column ul li:first-child {
	  	border-top: 1px solid #eeeeee;
  	}
  	.pricing-column ul li:nth-child(2n+1) {
	  	background-color: #f8f8f8;
  	}
  	.toggle .pricing-column h3 {
	  	font-size: 26px!important;
  	}
	.sidebar.left-sidebar.positioned{
		margin-bottom:40px;
		top:0;
	}
	.right-sidebar{
		margin-top:40px;
	}
	.selectpicker.btn-default{
		height:38px;
	}
  	.pricing-column.highlight .btn{
	  	margin-bottom:0;
  	}
	.pricing-table.six-cols > div {
		width: 50%;
	}
	.pricing-table.five-cols > div {
		width: 50%;
	}
	.pricing-table.four-cols > div {
		width: 50%;
	}
	.pricing-table.three-cols > div {
		width: 50%;
	}
	.pricing-table.two-cols > div {
		width: 50%;
	}
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
	ul.timeline > li > .timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}
	ul.timeline > li > .timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
}
@media only screen and (max-width: 767px) {
	.topbar{
		text-align:center;
	}
	.topbar p{
		margin-bottom:5px;
	}
	.topbar .social-icons li a{
		margin-left:0;
		margin-right:15px;
	}
	.topbar .social-icons.pull-right li{
		margin-left:0;
	}
	.topbar .social-icons{
		float: none !important;
		margin-top: 12px;
		display: inline-block;
		margin-left: 0px;
		margin-right:30px;
	}
	.topbar .search-form{
		display:inline-block;
		float:none;
		border-left: 1px solid rgba(255,255,255,.2);
		border-right:0;
		padding-left:30px;
	}
	.topbar .search-form input{
		width:100px;
	}
	.flex-caption{
		display:none;
	}
	.footer_widget.widget_links ul{
		float:none;
		width:100%
	}
	.footer_widget{
		margin-bottom:30px;
	}
	.footer-row2 .social-icons{
		float:none!important;
		margin-bottom:25px;
		margin-top:0;
	}
	.footer-row2 .social-icons.pull-right li{
		margin-left:0;
		margin-right:10px;
	}
	.site-footer-logo{
		float:none!important;
		margin-bottom:15px;
	}
	.header-style2 .topbar .search-form{
		padding-left:20px;
	}
	.featured-block-content{
		width:100%;
		float:none;
	}
	.featured-block-info{
		border-right-width:1px;
	}
	.featured-block-image{
		display:none;
	}
	.featured-block-info:after{
		display:none;
	}
	.template-submenu li, .template-submenu.items3 li{
		float:none;
		width:100%;
	}
	.page-header .btn{
		display:none;
	}
	.page-header{
		text-align:center;
	}
	.blog-list-item .meta-data{
		margin-top:15px;
	}
	.next-prev-post .pull-right, .next-prev-post .pull-left{
		text-align:center;
	}
	.next-prev-post .pull-left img{
		float:none;
		margin-right:0;
	}
	.next-prev-post .pull-right img{
		float:none;
		margin-left:0;
	}
	.header-counter{
		display:none;
	}
	.event-grid-time{
		top:-43px;
	}
	.events-list li .btn-sm{
		display:none;
	}
	.job-block .btn-sm{
		display:block;
		float:none!important;
		margin-bottom:20px;
	}
	/* Isotope */
	.isotope {
		overflow: visible !important;
		height: auto !important;
	}
	.isotope-item {
		position: static !important;
		margin-right: auto;
		margin-left: auto;
		width: auto;
		float:none;
		-webkit-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-o-transform: none !important;
		transform: none !important;
	}
	.isotope-hidden {
		display: none !important;
	}
	.pricing-table.six-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.five-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.four-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.three-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.two-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
}
@media only screen and (max-width: 480px) {
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.default-logo{
		display:none;
	}
	.retina-logo{
		display:inline-block;
	}
}
